::ng-deep thead {
    font-size: 16px;
    font-weight: 500;
    background-color: #E6EFF2;
    color: #005981;
}

::ng-deep kendo-grid-filter-cell-operators{
    display: none;
}

::ng-deep .k-grid tr.odd { background-color: transparent; }
::ng-deep .k-grid tr.even { background-color: #F4F8FB; }

::ng-deep .k-i-sort-asc-sm::before {
    content: "\e006";
}

::ng-deep .k-i-sort-desc-sm::before {
    content: "\e004";
}

::ng-deep .k-grid-header .k-i-sort-asc-sm, 
::ng-deep .k-grid-header .k-i-sort-desc-sm,
::ng-deep .k-grid-header .k-sort-order{
    color: #005981;
}

::ng-deep span.k-icon.k-i-arrow-60-right {
    margin-left: 1px;
    font-size: 20px;
    color: #005981 !important;
}

.k-progressbar {
    border: 1px solid #dbd6d6;
    border-radius: 4px;
    width: 100%;
}

#current_page{
    border-radius: 50%;
    background-color: #B2CCD9;
    padding: 0px 7px;
    color: #F6FBFC;
}

::ng-deep .k-pager-last, ::ng-deep .k-pager-first {
    display: none;
}

::ng-deep .k-icon.k-i-arrow-e,
::ng-deep .k-icon.k-i-arrow-w{
    color: #B2CCD9;
    font-size: 18px;
}

#reload_btn{
    color: #B2CCD9;
    cursor: pointer;
}

::ng-deep .k-grid tr.k-state-selected > td {
    background-color: #005981;
    color: #F6FBFC !important;
}

::ng-deep #taskGrid .k-grid-content::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
}

::ng-deep #taskGrid .k-grid-content::-webkit-scrollbar-thumb {
    background-color: #E6EFF2;
    border-radius: 3px !important;
}

::ng-deep #taskGrid .k-grid-content::-webkit-scrollbar-track {
    background-color: #F6FBFF;
    border-radius: 3px !important;
}

::ng-deep #taskGrid .k-grid-header {
    padding-right: 5px !important;
}
