<kendo-grid 
    #taskGrid
    id="taskGrid"
    style="height: calc(100vh - 156px)" 
    [data]="view | async" 
    [loading] = "view['loading']"
    [pageSize]= "state.take"
    [skip] = "state.skip"
    [filter]="state.filter"
    [sort]="state.sort"
    [sortable]="true"
    [filterable]="true"
    [selectable]="true"
    [pageable]="{
        buttonCount: 3
      }"
    [rowClass]="rowCallback"
    [selectable]="selectableSettings"
    kendoGridSelectBy
    [selectedKeys]="defaultSelection"
    (dataStateChange)="dataStateChange($event)"
    (cellClick)="onRowSelect($event)"
    >

    <kendo-grid-column field="typ" title="Typ" width="80">
      <ng-template kendoGridCellTemplate let-dataItem let-columnIndex="columnIndex">
        <!-- <span class="k-icon k-i-arrow-60-right"></span> -->
        {{dataItem.typ}}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="title" title="Task Name" width="220" [style]="{'white-space': 'nowrap'}">
    </kendo-grid-column>
    <kendo-grid-column field="responsibleName" title="Responsible" width="160">
    </kendo-grid-column>
    <kendo-grid-column field="endDate" title="End Date" width="100">
    </kendo-grid-column>
    <kendo-grid-column field="progress" title="Progress" [sortable]="false" width="120">
      <ng-template kendoGridCellTemplate let-dataItem>
          <kendo-progressbar [value]="dataItem.progress" [animation]="true" [progressCssStyle]="{'background-color': dataItem.progress > 0 ? '#005981' : ''}"></kendo-progressbar>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="sprint_id" title="Sprint" width="80">
    </kendo-grid-column>
    <kendo-grid-column field="attachments" title="Attch" width="50">
        <ng-template kendoGridHeaderTemplate>
            <span class="k-icon k-i-attachment-45"></span>
        </ng-template>
        <ng-template kendoGridCellTemplate let-dataItem>
            <span class="badge bg-secondary" *ngIf="dataItem.attachments.length" (click)="docViewer(dataItem.attachments)">{{dataItem.attachments.length}}</span>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="estTime" title="Est. Time" width="90">
    </kendo-grid-column>
    <kendo-grid-column field="client_id" title="Client" width="100">
    </kendo-grid-column>
    <kendo-grid-column field="module_id" title="Module" width="120">
    </kendo-grid-column>

    <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
      <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
      <span id="current_page">{{currentPage}}</span>
      <kendo-pager-info style="color:#C1C3C8"></kendo-pager-info>
      <kendo-pager-next-buttons></kendo-pager-next-buttons>
      <kendo-pager-page-sizes [pageSizes]="[20,50,100,200]"></kendo-pager-page-sizes>
      <span id="reload_btn"
        style="justify-content: flex-end; order: 10;" 
        class="k-icon k-i-reload"
          (click)="onReloadClick()"></span>
   </ng-template>

</kendo-grid>