.tv-sidebar {
    padding-left: 0px;
    height: calc(100vh - 100px);
    border-radius: 7px;
    background-color: var(--tv-base-color);
}

.tv-sidebar ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.tv-task-check-list {
    padding: 1em .75em 0 .9em;
}

.tv-task-check-item {
    border-radius: 7px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 18px 13px 11px 13px;
}

.tv-task-check-item-icon {
    width: 27px;
    height: 29px;
    display: inline-block;
}

.tv-dev-stage-label-icon {
    width: 20px;
    height: 17px;
    display: inline-block;
}

.tv-task-check-item-active {
    background-color: #005175;
}

.tv-task-check-item-img {
    width: 23px;
}

.tv-task-check-item-label {
    padding-left: 6.8px;
    color: var(--tv-base-sidebar-font-color);
}

.tv-task-check-item:hover {
    background-color: #005175;
    cursor: pointer;
}

.tv-task-check-item-active .tv-task-check-item-label,
 .tv-dev-stage-item-active .tv-dev-stage-item-label,
.tv-task-check-item-active span,
.tv-task-check-item:hover > span,
.tv-dev-stage-item:hover > .tv-dev-stage-item-label {
    color: var(--white);
}

.tv-task-check-item-label,
.tv-task-check-item-icon,
.tv-dev-stage-item-label,
.sidebar-circle-icon {
    transition: all 0.3s ease-out;
}

.tv-task-check-open {
    background: url(../../../../assets/sidebar/non_selected/open_task.png) no-repeat;
}

.tv-task-check-item:hover > .tv-task-check-open,
.tv-task-check-item-active .tv-task-check-open {
    background: url(../../../../assets/sidebar/selected/open_task_selected.png) no-repeat;
}

.tv-task-check-overdue {
    background: url(../../../../assets/sidebar/non_selected/overdue.png) no-repeat;
}

.tv-task-check-item:hover > .tv-task-check-overdue,
.tv-task-check-item-active .tv-task-check-overdue{
    background: url(../../../../assets/sidebar/selected/overdue_selected.png) no-repeat;
}

.tv-task-check-next-week {
    background: url(../../../../assets/sidebar/non_selected/next_week.png) no-repeat;
}

.tv-task-check-item:hover > .tv-task-check-next-week,
.tv-task-check-item-active .tv-task-check-next-week {
    background: url(../../../../assets/sidebar/selected/next_week_selected.png) no-repeat;
}

.tv-task-check-all {
    background: url(../../../../assets/sidebar/non_selected/all_task.png) no-repeat;
}

.tv-task-check-item:hover > .tv-task-check-all,
.tv-task-check-item-active .tv-task-check-all {
    background: url(../../../../assets/sidebar/selected/all_task_selected.png) no-repeat;
}

.tv-task-check-closed {
    background: url(../../../../assets/sidebar/non_selected/closed_task.png) no-repeat;
}

.tv-task-check-item:hover > .tv-task-check-closed,
.tv-task-check-item-active .tv-task-check-closed {
    background: url(../../../../assets/sidebar/selected/closed_task_selected.png) no-repeat;
}

.tv-task-dev-stage-container {
    border-radius: 7px;
    margin: -3px .75em 0 .9em;
    background-color: #005175;
    opacity: 0.7;
    height: 245px;
}

.tv-dev-stage-header,
.project-header,
.status-header {
    border-bottom: 1px solid #204c67;
    padding: 4px 1em 0 17.5px;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}
.tv-task-dev-stage,
.project-area,
.status-area {
    margin-top: 23px;
}

.tv-dev-stage-list,
.project-list,
.status-list {
    padding: 0 0 0 17.7px;
}

.project-list {
    height: 156px;
    overflow: auto;
}

.project-list::-webkit-scrollbar-track {
    background-color: #074866;
}

.project-list::-webkit-scrollbar-thumb {
    background-color: #5a8ca5;
}

.tv-dev-stage-label-icon {
    background: url(../../../../assets/sidebar/filter.png) no-repeat;
    vertical-align: middle;
}

.tv-dev-stage-label {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 18px;
    letter-spacing: normal;
    text-align: left;
    color: #b2ccd9;
    padding-left: 9px;
}

.tv-dev-stage-item,
.project-item,
.status-item {
    padding: 0 0 14px 0;
}

.tv-dev-stage-item:hover,
.project-item:hover,
.status-item:hover {
    cursor: pointer;
}
.sidebar-circle-icon {
    background: url(../../../../assets/sidebar/dev_stage_not_selected.png) no-repeat;
    width: 12px;
    height: 20px;
    display: inline-block;
	vertical-align: middle;
	background-position: center !important;
}

.tv-dev-stage-item:hover > .sidebar-circle-icon,
.tv-dev-stage-item-active .sidebar-circle-icon,
.project-item:hover > .sidebar-circle-icon,
.status-item:hover > .sidebar-circle-icon,
.project-active .sidebar-circle-icon,
.status-active .sidebar-circle-icon {
	background: url(../../../../assets/sidebar/dev_stage_selected.png) no-repeat;
	background-position: center !important;
}

.tv-dev-stage-item-label {
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 20px;
    letter-spacing: normal;
    text-align: left;
    color: var(--tv-base-sidebar-font-color);
    padding-left: 8px;
}

.project-container {
	/* background: #00547b; */
	/* background: #005175; */
	border-radius: 7px;
	margin: 0px .75em 0 .9em;
}

.project-active,
.project-active .project-list-edit-btn,
.project-active .project-list-label,
.status-active,
.status-active .status-list-label,
.project-item:hover .project-list-edit-btn,
.project-item:hover .project-list-label,
.status-item:hover .status-list-label {
	color: #FFFFFF;
}

.project-list-edit-btn {
	transition: all 0.3s ease-out;
	color: #B2CCD9;
	width: 1.35em !important;
}

.project-title,
.status-title {
	color: #B2CCD9;
	font-size: 16px;
    font-weight: 400;
	line-height: 20px;
	padding-left: 5px;
}

.project-list-container {
    border-radius: 7px;
    height: 216px;
    background: #005175;
}

.status-list-container {
    border-radius: 7px;
    background: #005175;
    /* margin-bottom: 1em; */
}

.project-list-label,
.status-list-label {
    color: #B2CCD9;
	font-size: 14px;
    font-weight: 400;
	line-height: 16px;
    transition: all 0.3s ease-out;
    width: 100%;
}

.project-list-label {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 140px;
}
 
.project-icon,
.status-icon {
    width: 20px;
    height: 17px;
    display: inline-block;
}
 
.project-icon,
.status-icon {
    background: url(../../../../assets/sidebar/team_list.png) no-repeat;
    width: 26px;
    height: 26px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
}