<section class="tv-sidebar" [ngStyle]="{ 'padding-top': commonShare.route == 'project' ? '1em' : '0' }">
    <div class="project-container" *ngIf="commonShare.route == 'project'">
        <div class="status-list-container">
            <div class="status-header">
                <div class="status-icon"></div>
                <span class="status-title">Project Status</span>
            </div>
            <div class="status-area">
                <ul class="status-list">
                    <li
                        class="status-item d-flex align-items-center justify-content-center"
                        [ngClass]="{ 'status-active': status.id == projectStatusId }" 
                        *ngFor="let status of projectService.statusList"
                        (click)="selectStatus(status.id, status.status)">
                        <div class="sidebar-circle-icon d-flex" style="flex: 1"></div>
                        <span class="status-list-label d-flex" style="flex: 10; padding-left: 6px;">{{ status.name }}</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="project-list-container">
            <div class="project-header">
                <div class="project-icon"></div>
                <span class="project-title">Project List</span>
            </div>
            <div class="project-area">
                <ul class="project-list">
                    <!-- <li *ngIf="!projectList.length"> No Projects Available </li> -->
                    <li
                        class="project-item d-flex"
                        [ngClass]="{ 'project-active': project.id == projectId }" 
                        *ngFor="let project of projectList"
                        (click)="selectProject(project.id)">
                        <div 
                            class="sidebar-circle-icon d-flex" 
                            style="flex: 1">
                        </div>
                        <div 
                            class="project-title-container d-flex justify-content-between align-items-center" 
                            style="flex: 10; padding-left: 6px;">
                            <span class="project-list-label">{{ project.name }}</span>
                            <span 
                                class="k-icon k-i-more-vertical project-list-edit-btn"
                                (click)="openProjectDetails(project)">
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div *ngIf="commonShare.route == 'team_task'">
        <div class="tv-task-dev-stage-container">
            <div class="tv-dev-stage-header">
                <div class="tv-dev-stage-label-icon"></div>
                <span class="tv-dev-stage-label">Scrum</span>
            </div>
            <div class="tv-task-dev-stage">
                <ul class="tv-dev-stage-list">
                    <li class="tv-dev-stage-item tv-dev-stage-item" *ngFor="let option of sprintOptions">
                        <div class="sidebar-circle-icon"></div>
                        <span class="tv-dev-stage-item-label">{{option.title}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="tv-task-check">
        <ul class="tv-task-check-list">
            <li class="tv-task-check-item" [ngClass]="activeBar == bar.id ? 'tv-task-check-item-active' : ''"
                *ngFor="let bar of commonSidebar" (click)="filterTask(bar)">
                <div class="tv-task-check-item-icon" [ngClass]="'tv-task-check-' + bar.code"></div>
                <span class="tv-task-check-item-label">{{ 'task_filter_sidebar.' + bar.code | translate}}</span>
            </li>
            <!-- <li class="tv-task-check-item">
                <div class="tv-task-check-item-icon tv-task-check-overdue"></div>
                <span class="tv-task-check-item-label">Overdue</span>
            </li>
            <li class="tv-task-check-item">
                <div class="tv-task-check-item-icon tv-task-check-next-week"></div>
                <span class="tv-task-check-item-label">Next Week</span>
            </li>
            <li class="tv-task-check-item">
                <div class="tv-task-check-item-icon tv-task-check-all-task"></div>
                <span class="tv-task-check-item-label">All Task</span>
            </li>
            <li class="tv-task-check-item">
                <div class="tv-task-check-item-icon tv-task-check-closed-task"></div>
                <span class="tv-task-check-item-label">Closed Task</span>
            </li> -->
        </ul>
    </div>
    <div class="tv-task-dev-stage-container" *ngIf="commonShare.route == 'my_task'">
        <div class="tv-dev-stage-header">
            <div class="tv-dev-stage-label-icon"></div>
            <span class="tv-dev-stage-label">Filter by stages</span>
        </div>
        <div class="tv-task-dev-stage">
            <ul class="tv-dev-stage-list">
                <li class="tv-dev-stage-item tv-dev-stage-item-active">
                    <div class="sidebar-circle-icon"></div>
                    <span class="tv-dev-stage-item-label">Design</span>
                </li>
                <li class="tv-dev-stage-item">
                    <div class="sidebar-circle-icon"></div>
                    <span class="tv-dev-stage-item-label">Development</span>
                </li>
                <li class="tv-dev-stage-item">
                    <div class="sidebar-circle-icon"></div>
                    <span class="tv-dev-stage-item-label">Initial Test</span>
                </li>
                <li class="tv-dev-stage-item">
                    <div class="sidebar-circle-icon"></div>
                    <span class="tv-dev-stage-item-label">Final Test</span>
                </li>
                <li class="tv-dev-stage-item">
                    <div class="sidebar-circle-icon"></div>
                    <span class="tv-dev-stage-item-label">Release</span>
                </li>
            </ul>
        </div>
    </div>
</section>