<section class="row">
    <div class="col-md-6 tv-grid">
        <app-grid-container></app-grid-container>
    </div>
    <div class="col-md-6 tv-details g-0">
        <app-details></app-details>
    </div>
</section>