.tv-grid {
    height: calc(100vh - 101px);
    border-radius: 7px;
    width: 42.5%;
    padding-left: 0.25em;
}

.tv-details {
    height: calc(100vh - 101px);
    border-radius: 7px;
    width: calc(57.5% - 9px);
    position: relative;
}