<form class="k-form" (ngSubmit)="submit($event)" [formGroup]="projectForm">
    <kendo-tabstrip #tabStrip height="calc(100vh - 284px)" [keepTabContent]="true">
        <kendo-tabstrip-tab [title]="'Details'" [selected]="true">
            <ng-template kendoTabContent>
                <app-project-details-form
                    [isNew]="isNew" 
                    [projectForm]="projectForm">
                </app-project-details-form>
            </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab [title]="'Gantt'">
            <ng-template kendoTabContent>
                <app-gantt
                    [isNew]="isNew"
                    [currentProject]="currentProject">
                </app-gantt>
            </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab [title]="'Attachments'">
            <ng-template kendoTabContent>
                <app-attachment 
                    [currentAttachments]="[]" 
                    [parentForm]="projectForm" 
                    (fileCounter)="fileCount = $event" 
                    (uploader)="fileUploader = $event" 
                    (completeEvent)="uploadCompleteEvent($event)"
                    (deleteEvent)="fileDeleteEvent($event)">
                </app-attachment>
            </ng-template>
        </kendo-tabstrip-tab>
    </kendo-tabstrip>
    <div class="text-right" style="padding-top: 15px">
        <button type="button" class="btn cancel-button" (click)="closeWindow()">Cancel</button>
        <button type="submit" class="btn save-button">Save</button>
    </div>
    <app-warning-modal 
        yesBtnTitle="Yes"
        noBtnTitle="No"
        messageText="Data was not saved. Wanna save project data?"
        [modalOpened]="isWarningModalOpen"
        [onYesBtnClicked]="saveChangedData" 
        [onNoBtnClicked]="cancelChangedWarning"
        [onCloseBtnClicked]="cancelChangedWarning"> 
    </app-warning-modal>
</form>