<div class="row g-0 project-details-container" [formGroup]="projectForm">
    <div class="col-md-6 g-0">
        <div class="row g-0 mb-3 mt-3">
            <div class="col-md-12 px-3">
                <label for="name" class="mb-1 p-name">Project Name:</label>
            </div>
            <div class="col-md-12 px-3">
                <input class="form-control name-input" name="name" formControlName="name" />
            </div>
        </div>
        <div class="row g-0 mb-3">
            <div class="col-md-12 px-3">
                <label for="date" class="mb-1 p-date">Project Date:</label>
            </div>
            <div class="col-md-12 px-3">
                <kendo-datepicker 
                    formControlName="date" 
                    [format]="'dd.MM.yyyy'"
                    [formatPlaceholder]="datePlaceHolder" 
                    name="date"
                    class="p-date">
                </kendo-datepicker>
            </div>
        </div>
        <div class="row g-0 mb-3">
            <div class="col-md-12 px-3">
                <label for="creator" class="mb-1 p-creator">Project Creator:</label>
            </div>
            <div class="col-md-12 px-3">
                <kendo-dropdownlist 
                    formControlName="personNr" 
                    name="creator" 
                    id="creator" 
                    class="p-creator-dropdown"
                    [data]="userList" 
                    [textField]="'name'"
                    [valueField]="'id'" 
                    [defaultItem]="{ 'name' : 'Select Person', 'id' : 0}" 
                    [valuePrimitive]="true"
                    [disabled]="true" 
                    [kendoDropDownFilter]="filterSettings">
                </kendo-dropdownlist>
            </div>
        </div>
        <div class="row g-0 mb-3">
            <div class="col-md-12 px-3">
                <label for="participants" class="mb-1 p-participants">Project Participants:</label>
            </div>
            <div class="col-md-12 px-3">
                <kendo-multiselect 
                    name="participants" 
                    class="p-participants-multi-select" 
                    formControlName="participantsNr"
                    [data]="userList" 
                    [textField]="'name'" 
                    [valuePrimitive]="true"
                    [valueField]="'id'" 
                    [placeholder]="'Select Participants'" 
                    [kendoDropDownFilter]="filterSettings">
                </kendo-multiselect>
            </div>
        </div>
        <div class="row g-0 mb-3">
            <div class="col-md-12 px-3">
                <label for="progress" class="mb-1 p-progress">Progress:</label>
            </div>
            <div class="col-md-12 px-3">
                <kendo-slider 
                    [min]="0" 
                    [max]="100" 
                    [smallStep]="25"
                    [largeStep]="1" 
                    formControlName="progress" 
                    name="progress" 
                    id="progress">
                </kendo-slider>
            </div>
        </div>
    </div>
    <div class="col-md-6 g-0">
        <div class="row g-0 mb-3 mt-3">
            <div class="col-md-12 pr-3">
                <label for="details" class="mb-1 p-details">Project Details:</label>
            </div>
            <div class="col-md-12 pr-3">
                <kendo-editor 
                    class="p-editor" 
                    [iframe]="false" 
                    name="details" 
                    formControlName="details">
                </kendo-editor>
            </div>
        </div>
    </div>
</div>