<div id="project-container">
    <div class="k-overlay" *ngIf="isWindowOpened"></div>
    <button class="new-project-btn" (click)="openWindow()">New Project</button>
    <kendo-window 
        id="new-project-window" 
        *ngIf="isWindowOpened" 
        (close)="closeWindow()" 
        [minWidth]="300" 
        [width]="1300"
        [resizeable]="false" 
        [draggable]="false" 
        [(top)]="windowTop">
        <kendo-window-titlebar>
            <div class="k-window-title">Add New Project</div>
            <span class="k-icon k-i-close c-pointer" (click)="closeWindow()"></span>
        </kendo-window-titlebar>
        <app-project-form 
            [isNew]="isNew"
            [currentProject]="currentProject"
            [isClosePressed]="isClosePressed" 
            (isProjectWindowOpened)="isWindowOpened = $event; isClosePressed = false">
        </app-project-form>
    </kendo-window>
</div>