.new-project-btn {
    width: 160px;
    height: 42px;
    border-radius: 7px;
    background-color: var(--tv-base-color);
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: center;
    color: var(--white);
    transition: all 0.3s ease-in;
    border: 0 !important;
}

.new-project-btn:hover {
    color: var(--tv-base-color);
    background-color: var(--white);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.09) !important;
}