<div class="note-container">
    <button type="button" class="btn btn-primary btn-lg btn-block add-task-note-btn" (click)="newNote(); noteEditor.focus()">+ Add Task Notes</button>
    
    <ul class="note-title-container">
        <li *ngFor="let item of noteList; index as i" [ngClass]="{ 'note-selected': item.id == currentNoteId }" (click)="selectNote(item)">
            <span class="note-title-name">{{ item.user_id | userNameFormat}}</span>
            <span class="note-title-date">{{ item.updated_at | dateFormat }}</span>
            <span class="note-title-time">{{ item.updated_at | timeFormat}}</span>
        </li>
        <li class="no-notes" *ngIf="!noteList.length">No notes created yet!</li>
    </ul>

    <div class="note-editor-container">
        <kendo-editor #noteEditor [iframe]="false" class="note-editor" [(ngModel)]="currentNote"></kendo-editor>
    </div>

    <button type="button" class="btn btn-primary btn-lg btn-block save-note-btn" (click)="saveNote()">+ Save</button>
</div>