.note-container {
    padding: 21px !important;
}

.add-task-note-btn,
.save-note-btn {
    height: 34px;
    border-radius: 7px;
    background-color: #005981;
    font-size: 16px;
    font-weight: 500;
    padding: 0 !important;
    border: 0 !important;
    margin-bottom: 4px !important;
}

.add-task-note-btn:focus,
.save-note-btn:focus {
    box-shadow: none;
    outline: 0;
    border: 0 !important;
}

.save-note-btn {
    margin-top: 9px !important;
}

ul.note-title-container {
    list-style-type: none;
    padding: 0;
    margin-bottom: 4px !important;
    height: 170px;
    overflow: auto;
}

ul.note-title-container li {
    height: 34px;
    border-radius: 7px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    cursor: pointer;
}

ul.note-title-container li span.note-title-name  {
    flex: 8;
    text-align: left;
    padding-left: 12px;
}

ul.note-title-container li span.note-title-date  {
    flex: 1;
    text-align: left;
}

ul.note-title-container li span.note-title-time  {
    flex: 1;
    text-align: center;
}

ul.note-title-container li.note-selected {
    background-color: #f4f8fb;
}

ul.note-title-container::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
}

ul.note-title-container::-webkit-scrollbar-thumb {
    background-color: #E6EFF2;
    border-radius: 3px !important;
}

ul.note-title-container::-webkit-scrollbar-track {
    background-color: #F6FBFF;
    border-radius: 3px !important;
}

.note-editor {
    height: 412px;
    border-radius: 7px;
    border: solid 1px #e6eff2;
    background-color: #f6fbfc;
}

::ng-deep .note-editor .k-toolbar {
    background-color: #e6eff5 !important;
}

::ng-deep .note-editor .k-button.k-state-active,
::ng-deep .note-editor .k-button.k-state-focused {
    background: #b2ccd9 !important;
    border-color: #b2ccd9 !important;
    box-shadow: none !important;
}

::ng-deep .k-animation-container .k-state-selected {
    background: #005981 !important;
    border-color: #b2ccd9 !important;
    box-shadow: none !important;
}

.no-notes {
    justify-content: center !important;
    align-items: center !important;
    display: flex !important;
    height: inherit !important;
    color: #005981;
    font-size: 18px;
    border: 1px solid #e6eff2;
    cursor: default !important;
}