<div class="row g-0 details-input-container" [formGroup]="taskForm">
	<div class="col-md-12 g-0" [hidden]="!inputPermissions['title']?.isChecked">
		<div class="row mb-3 g-0">
			<label for="title" class="tv-input-label w-13 pl-12">Task Name:
				<span [hidden]="!inputPermissions['title']?.isMandatory" class="required-asterick">&nbsp;*</span>
			</label>
			<div class="w-86">
				<textarea class="form-control" id="title" rows="2" name="title" formControlName="title">
                </textarea>
			</div>
		</div>
	</div>

	<div class="col-md-12 g-0">
		<div class="row mb-3 g-0">
			<div class="col-md-4 g-0">
				<div class="row g-0 left-col">
					<kendo-label [for]="taskType" class="tv-input-label w-39">Task Type:
						<span class="required-asterick">&nbsp;*</span>
					</kendo-label>
					<kendo-dropdownlist formControlName="typeId" [data]="taskTypes" [textField]="'typeName'"
						[valueField]="'id'" [defaultItem]="{ 'typeName': 'Select Type', 'id': 0}"
						[valuePrimitive]="true" [kendoDropDownFilter]="filterSettings" name="taskType" #taskType
						class="w-60 task-details-dropdown">
					</kendo-dropdownlist>
				</div>
				<div class="row g-0 left-col" [hidden]="!inputPermissions['startDate']?.isChecked">
					<label for="startDate" class="tv-input-label w-39">Start Date:
						<span [hidden]="!inputPermissions['startDate']?.isMandatory" class="required-asterick">&nbsp;*</span>
					</label>
					<kendo-datepicker formControlName="startDate" [format]="'dd.MM.yyyy'"
						[formatPlaceholder]="datePlaceHolder" name="startDate" id="startDate"
						class="w-60 date-container">
					</kendo-datepicker>
				</div>
				<div class="row g-0 left-col" [hidden]="!inputPermissions['personNr']?.isChecked">
					<label for="creator" class="tv-input-label w-39">Creator:
						<span [hidden]="!inputPermissions['personNr']?.isMandatory" class="required-asterick">&nbsp;*</span>
					</label>
					<kendo-dropdownlist formControlName="personNr" [data]="userList" [textField]="'name'"
						[valueField]="'id'" [defaultItem]="{ 'name' : 'Select Person', 'id' : 0}"
						[valuePrimitive]="true" [kendoDropDownFilter]="filterSettings" name="creator" id="creator"
						class="w-60 task-details-dropdown">
					</kendo-dropdownlist>
				</div>
				<div class="row g-0 left-col" [hidden]="!inputPermissions['moduleId']?.isChecked">
					<label for="module" class="tv-input-label w-39">Module:
						<span [hidden]="!inputPermissions['moduleId']?.isMandatory" class="required-asterick">&nbsp;*</span>
					</label>
					<kendo-dropdownlist formControlName="moduleId" [data]="modules" [textField]="'name'"
						[valueField]="'id'" [defaultItem]="{ 'name' : 'Select Module', 'id' : 0}"
						[valuePrimitive]="true" [kendoDropDownFilter]="filterSettings" name="creator" id="creator"
						class="w-60 task-details-dropdown">
					</kendo-dropdownlist>
				</div>
				<div class="row g-0 left-col" [hidden]="!inputPermissions['categoryId']?.isChecked">
					<label for="module" class="tv-input-label w-39">Category:
						<span [hidden]="!inputPermissions['categoryId']?.isMandatory" class="required-asterick">&nbsp;*</span>
					</label>
					<kendo-dropdownlist formControlName="categoryId" [data]="categories" [textField]="'name'"
						[valueField]="'id'" [defaultItem]="{ 'name' : 'Select Category', 'id' : 0}"
						[valuePrimitive]="true" [kendoDropDownFilter]="filterSettings" name="creator" id="creator"
						class="w-60 task-details-dropdown">
					</kendo-dropdownlist>
				</div>
			</div>
			<div class="col-md-4 g-0">
				<div class="row g-0 left-col" [hidden]="!inputPermissions['teamId']?.isChecked">
					<kendo-label [for]="team" class="tv-input-label w-39">Team:
						<span [hidden]="!inputPermissions['teamId']?.isMandatory" class="required-asterick">&nbsp;*</span>
					</kendo-label>
					<kendo-dropdownlist formControlName="teamId" [data]="groupedTeams" [textField]="'name'"
						[valueField]="'id'" [defaultItem]="{ 'name' : 'Select Team', 'id' : 0}" [valuePrimitive]="true"
						[kendoDropDownFilter]="filterSettings" name="team" #team class="w-60 task-details-dropdown">
						<ng-template kendoDropDownListItemTemplate let-dataItem>
							<span class="template">{{ isNew ? dataItem.name : dataItem.member }}</span>
						</ng-template>
					</kendo-dropdownlist>
				</div>
				<div class="row g-0 left-col" [hidden]="!inputPermissions['endDate']?.isChecked">
					<label for="startDate" class="tv-input-label w-39">End Date:
						<span [hidden]="!inputPermissions['endDate']?.isMandatory" class="required-asterick">&nbsp;*</span>
					</label>
					<kendo-datepicker formControlName="endDate" [format]="'dd.MM.yyyy'"
						[formatPlaceholder]="datePlaceHolder" name="endDate" id="endDate" class="w-60 date-container">
					</kendo-datepicker>
				</div>
				<div class="row g-0 left-col" [hidden]="!inputPermissions['responsibleNr']?.isChecked">
					<label for="responsible" class="tv-input-label w-39">Responsible:
						<span [hidden]="!inputPermissions['responsibleNr']?.isMandatory" class="required-asterick">&nbsp;*</span>
					</label>
					<kendo-dropdownlist [data]="userList" [textField]="'name'" name="responsible"
						[valuePrimitive]="true" [defaultItem]="{ 'name' : 'Select Responsible', 'id' : 0}"
						[valueField]="'id'" [kendoDropDownFilter]="filterSettings" class="w-60 task-details-dropdown"
						formControlName="responsibleNr">
					</kendo-dropdownlist>
				</div>
				<div class="row g-0 left-col" [hidden]="!inputPermissions['clientId']?.isChecked">
					<label for="client" class="tv-input-label w-39">Client:
						<span [hidden]="!inputPermissions['clientId']?.isMandatory" class="required-asterick">&nbsp;*</span>
					</label>
					<kendo-dropdownlist [data]="clients" [textField]="'name'" name="client" [valuePrimitive]="true"
						[valueField]="'id'" [defaultItem]="{ 'name' : 'Select Client', 'id' : 0}"
						[kendoDropDownFilter]="filterSettings" class="w-60 task-details-dropdown"
						formControlName="clientId">
					</kendo-dropdownlist>
				</div>
			</div>
			<div class="col-md-4 g-0">
				<div class="row g-0 right-col" [hidden]="!inputPermissions['sprintId']?.isChecked">
					<label for="sprint" class="tv-input-label w-39">Sprint:
						<span [hidden]="!inputPermissions['sprintId']?.isMandatory" class="required-asterick">&nbsp;*</span>
					</label>
					<kendo-dropdownlist [data]="sprints" [kendoDropDownFilter]="filterSettings" [textField]="'name'"
						[defaultItem]="{ 'name' : 'Select Sprint', 'id' : 0}" [valuePrimitive]="true" name="sprint"
						[valueField]="'id'" class="w-60 task-details-dropdown" formControlName="sprintId">
					</kendo-dropdownlist>
				</div>
				<div class="row g-0 right-col" [hidden]="!inputPermissions['priorityColor']?.isChecked">
					<label for="priorityColor" class="tv-input-label w-39">Priority Color:
						<span [hidden]="!inputPermissions['priorityColor']?.isMandatory" class="required-asterick">&nbsp;*</span>
					</label>
					<kendo-dropdownlist formControlName="priorityColor" [data]="priorityColorList"
						[textField]="'colorName'" [valueField]="'colorCode'"
						[defaultItem]="{ 'colorName' : 'Select Priority Color', 'colorCode' : '' }"
						[valuePrimitive]="true" [kendoDropDownFilter]="filterSettings" name="priorityColor"
						#priorityColor class="w-60 task-details-dropdown">
						<ng-template kendoDropDownListItemTemplate let-dataItem>
							<span class="label bg-{{dataItem.colorClass}}" style="border-radius: 5px;">&nbsp; &nbsp;
								&nbsp;</span>&nbsp; {{dataItem.colorName}}
						</ng-template>
					</kendo-dropdownlist>
				</div>
				<div class="row g-0 right-col" [hidden]="!inputPermissions['subResponsibles']?.isChecked">
					<label for="subResponsible" class="tv-input-label w-39">Sub-responsible:
						<span [hidden]="!inputPermissions['subResponsibles']?.isMandatory" class="required-asterick">&nbsp;*</span>
					</label>
					<kendo-multiselect [data]="userList" [textField]="'name'" [valuePrimitive]="true"
						name="subResponsible" [valueField]="'id'" [placeholder]="'Select Sub-responsible'"
						[kendoDropDownFilter]="filterSettings" class="w-60 task-details-dropdown"
						formControlName="subResponsibles">
					</kendo-multiselect>
				</div>
				<div class="row g-0 right-col" [hidden]="!inputPermissions['contactPersons']?.isChecked">
					<label for="subResponsible" class="tv-input-label w-39">Contact Persons:
						<span [hidden]="!inputPermissions['contactPersons']?.isMandatory" class="required-asterick">&nbsp;*</span>
					</label>
					<kendo-multiselect [data]="userList" [textField]="'name'" [valuePrimitive]="true"
						name="subResponsible" [valueField]="'id'" [placeholder]="'Select Contact Persons'"
						[kendoDropDownFilter]="filterSettings" class="w-60 task-details-dropdown"
						formControlName="contactPersons">
					</kendo-multiselect>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-12 g-0">
		<div class="row mb-3 g-0">
			<div class="col-md-8 g-0" [hidden]="!inputPermissions['progress']?.isChecked">
				<div class="row g-0 left-col">
					<label for="progress" class="tv-input-label w-18">Progress:
						<span [hidden]="!inputPermissions['progress']?.isMandatory" class="required-asterick">&nbsp;*</span>
					</label>
					<div class="w-81">
						<kendo-slider [min]="0" [max]="100" [largeStep]="25" [smallStep]="25" formControlName="progress"
							name="progress" id="progress" style="width: 100%;">
						</kendo-slider>
					</div>
				</div>
			</div>
			<div class="col-md-4 g-0" [hidden]="!inputPermissions['estTime']?.isChecked">
				<div class="row g-0 right-col">
					<label for="estTime" class="tv-input-label w-39">Estimated Time:
						<span [hidden]="!inputPermissions['estTime']?.isMandatory" class="required-asterick">&nbsp;*</span>
					</label>
					<div class="w-60">
						<kendo-timepicker formControlName="estTime" [formatPlaceholder]="{'hour': '00', 'minute': '00'}"
							[format]="'HH:mm'" name="estTime" id="estTime" class="w-100 date-container">
						</kendo-timepicker>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="col-md-12 g-0 pl-12" [hidden]="!inputPermissions['details']?.isChecked">
		<kendo-editor class="task-details-editor" [iframe]="false" name="details" formControlName="details">
		</kendo-editor>
	</div>
</div>