.details-input-container {
    padding: 12px 12px 12px 0px;
}

.tv-input{
    padding-top: 8px;
}

.tv-input-label{
    text-align: left;
    font-family: 'Avenir Next Cyr';
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0px;
    color: #005081;
    opacity: 1;
}

.pl-12{
    padding-left: 12px;
}

.w-13{
    width: 13.14% !important;
}

.w-18{
    width: 18.94% !important;
}

.w-39{
    width: 39.55%;
 }

.w-60{
    width: 60.4%;
}

.w-81{
    width: 81%;
}

.w-86{
    width: 86.69%;
}

.left-col{
    padding:0px 21px 13px 12px;
}
.right-col{
    padding:0px 0px 13px 12px;
}

textarea {
    resize: none;
}

::ng-deep .date-container.k-datepicker{
    height: 34px !important;
    border-radius: 3px;
    border: 1px solid #E6EFF2;
}

::ng-deep .date-container.k-datepicker .k-picker-wrap{
    border-radius: 3px;
    
}

::ng-deep .date-container.k-datepicker:hover,
::ng-deep .date-container.k-timepicker:hover{
    background-color: transparent;
    background-image: unset;
}

::ng-deep .date-container.k-datepicker .k-select,
::ng-deep .date-container.k-timepicker .k-select,
::ng-deep .date-container.k-datepicker .k-picker-wrap:hover .k-select,
::ng-deep .date-container.k-timepicker .k-picker-wrap:hover .k-select,
::ng-deep .date-container.k-datepicker .k-select:hover{
    background-color: transparent !important;
    background-image: unset !important;
}

::ng-deep .task-details-dropdown.k-dropdown,
::ng-deep .task-details-dropdown.k-multiselect{
    /* height: 150px; */
    border: 1px solid #E6EFF2;
    border-radius: 3px;
    
}

::ng-deep .task-details-dropdown.k-dropdown .k-dropdown-wrap{
    background-color: transparent;
    background-image: unset;
    border-radius: 3px;
}

::ng-deep .date-container .k-icon,
::ng-deep .task-details-dropdown .k-icon{
    color: #005981;
}

.task-details-editor {    
    height: 355px;     
    border-radius: 7px;     
    border: solid 1px #e6eff2;     
    background-color: #f6fbfc; 
}

::ng-deep .task-details-editor .k-toolbar {    
    background-color: #e6eff5 !important; 
}

::ng-deep .task-details-editor .k-state-active, 
::ng-deep .task-details-editor .k-state-focused,  
::ng-deep .task-details-editor .k-state-focused:active {     
   background: #b2ccd9 !important;     
   border-color: #b2ccd9 !important;     
   box-shadow: none !important; 
}

::ng-deep .k-animation-container .k-state-selected{
   background: #005981 !important;     
   border-color: #005981 !important;     
   box-shadow: none !important; 
}

.required-asterick {
    color: red;
}