<form class="k-form" (ngSubmit)="submitData()" [formGroup]="taskForm">
    <!-- {{selectedTab}} -->
    <kendo-tabstrip #tabStrip height="calc(100vh - 194px)" ngClass="my-style" [keepTabContent]="true"
        (tabSelect)="onTabSelect($event)">
        <kendo-tabstrip-tab [title]="'Details'">
            <ng-template kendoTabContent>
                <div *ngIf="loading" class="loading k-i-loading"></div>
                <app-task-form [isNew]="false" [taskForm]="taskForm" *ngIf="!loading"></app-task-form>
            </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab [title]="'Attachments'" *ngIf="inputPermissions?.tabAttachments?.isChecked || !inputPermissions?.tabAttachments">
            <ng-template kendoTabContent>
                <app-attachment [currentAttachment]="[]" [parentForm]="taskForm" (fileCounter)="fileCount = $event" (uploader)="fileUploader = $event" (deleteEvent)="attachmentDeleteEvent($event)" (completeEvent)="attachmentUploadCompleteEvent($event)"></app-attachment>
            </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab [title]="'Note'" *ngIf="inputPermissions?.tabNote?.isChecked || !inputPermissions?.tabNote">
            <ng-template kendoTabContent>
                <app-note *ngIf="selectedTab == 'Note'"></app-note>
            </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab [title]="'Timesheet'" *ngIf="inputPermissions?.tabTimesheet?.isChecked || !inputPermissions?.tabTimesheet">
            <ng-template kendoTabContent>
                <app-timesheet *ngIf="selectedTab == 'Timesheet'"></app-timesheet>
            </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab [title]="'Dev Status'" *ngIf="inputPermissions?.tabDevStatus?.isChecked || !inputPermissions?.tabDevStatus">
            <ng-template kendoTabContent>
                <app-dev-status *ngIf="selectedTab == 'Dev Status'"></app-dev-status>
            </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab [title]="''" [disabled]="true" #test>
            <kendo-tabstrip-tab [title]="''" [disabled]="true" #test>
                <ng-template kendoTabTitle>
                    <div style="display: flex; justify-content: space-between; width: 24.9vw; cursor: default;">
                        <div class="task-actions" style="display: flex;">
                            <button class="btn tv-grid-task-download-btn"></button>
                            <button class="btn tv-grid-task-download-btn"></button>
                            <button class="btn tv-grid-task-download-btn"></button>
                        </div>
                        <div class="tv-time-counter">
                            <button class="ripple tv-btn-amber" *ngIf="taskId == taskTimerId && !timerLoading" (click)="stopTimer()">
                                {{display}}
                                <span class="k-icon k-i-stop px-2"
                                    style="color: white; margin-bottom: 5px;"></span>
                            </button>
                            <button class="ripple tv-btn-primary" *ngIf="(taskTimerId ==0 || taskTimerId=== null) && !timerLoading" (click)="onClickStart()">
                                Start
                                <span class="k-icon k-i-play px-2"
                                    style="color: white; margin-bottom: 5px;"></span>
                            </button>
                        </div>
                    </div>
        
                </ng-template>
            </kendo-tabstrip-tab>
        </kendo-tabstrip-tab>
    </kendo-tabstrip>
    <div class="bottom-bar">
        <div style="padding-top: 11px;">
            <label for="estTime" class="tv-input-label pr-2">Consumed Time: </label>
            <kendo-timepicker [format]="'HH:mm'" name="consumed" class="date-container" style="width: 156px;"
                formControlName="consumedTime" [formatPlaceholder]="{'hour': '00', 'minute': '00'}"></kendo-timepicker>
        </div>
        <div>
            <button type="button" class="btn delete-button" (click)="delete()"><span class="trash"></span>Delete</button>
            <button type="submit" class="btn update-button">Update</button>
        </div>
    </div>
</form>
<app-warning-modal 
    yesBtnTitle="Yes"
    noBtnTitle="No"
    messageText="Data was not saved yet. Wanna save task data?"
    [modalOpened]="isChangeWarningModalOpen"
    [onYesBtnClicked]="saveChangedData" 
    [onNoBtnClicked]="closeChangeWarning"
    [onCloseBtnClicked]="closeChangeWarning"
> 
</app-warning-modal>

<app-warning-modal 
    yesBtnTitle="Yes"
    noBtnTitle="No"
    messageText="Wanna delete the task?"
    [modalOpened]="isTaskDeleteWarningOpen"
    [onYesBtnClicked]="confirmDelete" 
    [onNoBtnClicked]="closeTaskDeleteWarning"
    [onCloseBtnClicked]="closeTaskDeleteWarning"
> 
</app-warning-modal>

<div class="k-overlay" *ngIf="taskStartWindow"></div>
<kendo-window id="task-start-window" title="Start Task Time" *ngIf="taskStartWindow" (close)="close()" [minWidth]="250"
    [width]="620" [draggable]="false" [resizable]="false" [(top)]="windowTop" [(left)]="windowLeft">
    <app-task-start (windowCloseEvent)="close()" (timerEvent)="startTimer($event)"></app-task-start>
</kendo-window>
