::ng-deep .k-tabstrip-items .k-link {
	padding: 17px 12px;
	font-size: 16px;
	font-family: "Avenir Next Cyr";
	color: #005081;
	opacity: 1;
}

::ng-deep .k-tabstrip-top > .k-tabstrip-items .k-item {
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 4px solid transparent;
}
::ng-deep .k-tabstrip-top > .k-tabstrip-items .k-item.k-state-active {
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 4px solid #005081 !important;
	font-weight: bold;
	background-color: transparent;
}
::ng-deep .k-tabstrip-top > .k-tabstrip-items {
	width: 478px;
	border-radius: 7px 7px 0px 0px;
	box-shadow: -1px -3px 5px 0px #00000017;
	background-color: #ffffff;
	border-bottom: 1px solid #f0f2f5 !important;
}
::ng-deep .k-tabstrip > .k-content.k-state-active {
    box-shadow: 0px 0px 15px #00000017;
    border-radius: 0px 7px 7px 7px;
    border: 0;
    padding: 0;
} 

::ng-deep .k-tabstrip-items .task-action-items > span {
    cursor: default;
    padding: 0;
}

.tv-time-counter {
    position: absolute;
    top: -6px;
    right: 12px;
}

.tv-time-counter-stop-btn {
    padding: 0.438rem .438rem !important;
    border: 0;
    border-radius: 0%;
    margin-bottom: 5.2px;
    margin-left: 2px;
    background-color: var(--white);
}

.task-actions{
    position: absolute;
    top:0;
}

.tv-grid-task-download-btn {
    margin-left: 0.5em;
    width: 42px;
    height: 42px;
    border-radius: 7px;
    box-shadow: 0 3px 12px 0 rgba(16, 66, 125, 0.16);
    background-color: var(--white);
    background-image: url("../../../../../assets/Download.png");
    background-repeat: no-repeat;
}

.tv-grid-task-download-btn:focus,
.tv-time-counter-stop-btn:focus {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.09) !important; 
}

::ng-deep .k-tabstrip-items .task-action-items > span {
    cursor: default;
    padding: 0;
}

.loading{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 735px;
    font-size: 67px;
    color: #005981;
}

.delete-button{
    margin: 0 12px 0 0;
    width: 160px;
    height: 42px;
    border-radius: 7px;
    background-color: #F6FBFC;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: center;
    color:  var(--tv-base-color);
    transition: all 0.3s ease-out;
}

.trash{
    background-image: url("./../../../../../assets/delete.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 17px;
    width: 20px;
}

.update-button{
    margin: 0;
    width: 160px;
    height: 42px;
    border-radius: 7px;
    background-color: var(--tv-base-color);
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: center;
    color: var(--white);
    transition: all 0.3s ease-out;
}

.update-button:active{
    color: var(--tv-base-color);
    background-color: #F6FBFC;
}

.delete-button:active{
    background-color: var(--tv-base-color);
    color: #F6FBFC;
}

.update-button, .delete-button:focus{
    box-shadow: none;
}

.bottom-bar{
    display: flex;
    justify-content: space-between;
    padding: 23px 0px 0px 0px;
}

::ng-deep #task-start-window .k-window-actions .k-button-icon.k-button.k-bare:nth-child(-n+3){
    display: none !important;
}

::ng-deep #task-start-window .k-dialog-titlebar {
    background-color: #005981;
}

::ng-deep #task-start-window .k-window-content{
    background-color: #F4F8FB;
}
