<div class="k-overlay" *ngIf="windowOpened"></div>
<div class="dev-status-container">
    <button type="button" class="btn btn-primary btn-lg btn-block add-dev-status-btn" (click)="openRequirementAddWindow($event)">+ Add New Status</button>
    <!-- Kendo Window for Dev Status Form -->
    <kendo-window 
    id="dev-status-window"
    title="Add New Status" 
    [height]="'800px'"
    *ngIf="windowOpened" 
    (close)="close()" 
    [minWidth]= "300" 
    [width]="1258"
    [resizable]="false"
    [draggable]="false"
    [(left)]="windowLeft"
    [(top)]="windowTop">
        <app-dev-status-form 
            (saveDevStatusEvent) = "saveDevStatus($event)"
            [selectedDevStatus]= "selectedRequirement">
        </app-dev-status-form>
    </kendo-window>
    <!-- <div kendoWindowContainer></div> -->
    <app-warning-modal
        yesBtnTitle="Yes"
        noBtnTitle="No"
        messageText="Do You Want to delete Requirement ?"
        [modalOpened]="warningOpened"
        [onYesBtnClicked]="confirmDeleteRequirement"
        [onNoBtnClicked]="cancelDeleteRequirement"
        [onCloseBtnClicked]="cancelDeleteRequirement">

    </app-warning-modal>
    <kendo-grid 
        #devStatusGrid
        id="devStatusGrid"
        [data]="gridData"
        style="height: calc(100vh - 265px)" 
        [sortable]="true"
        [filterable]="true"
        [filter]="state.filter"
        [selectable]="true"
        [rowClass]="rowCallback"
        [selectable]="selectableSettings"
        (cellClick)="onRowSelect($event)"
        (add)="saveDevStatus($event)"
        (dataStateChange)="devStatusStateChange($event)">
    
        <kendo-grid-column field="requirement" title="Task Name" width="300">
            <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                <kendo-grid-string-filter-cell
                    [showOperators]="true"
                    [column]="column"
                    [filter]="filter">
                </kendo-grid-string-filter-cell>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="designProgress" title="Des" width="40" [filterable]="false">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <strong [ngStyle]="{'color': (dataItem.designProgress == 100) ? '#005981' : null}">{{dataItem.designProgress}}%</strong>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="developmentProgress" title="Dev" width="40" [filterable]="false">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <strong [ngStyle]="{'color': (dataItem.designProgress == 100) ? '#005981' : null}">{{dataItem.developmentProgress}}%</strong>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="initialTestProgress" title="ITe" width="40" [filterable]="false">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <span class="k-icon" [ngClass]="{'k-i-check': dataItem.initialTestProgress == 1, 'k-i-close': dataItem.initialTestProgress == 0 || dataItem.initialTestProgress == 2 }"></span>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="feedbackProgress" title="Feb"  width="40" [filterable]="false">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <span class="k-icon" [ngClass]="{'k-i-check': dataItem.feedbackProgress == 1, 'k-i-close': dataItem.feedbackProgress == 0 || dataItem.feedbackProgress == 2 }"></span>
            </ng-template>
        </kendo-grid-column>
        <!-- <kendo-grid-column field="sprint_name" title="FTe" width="40">
        </kendo-grid-column> -->
        <kendo-grid-column field="releaseprogress" title="Rel" width="40" [filterable]="false">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <strong [ngStyle]="{'color': (dataItem.designProgress == 100) ? '#005981' : null}">{{dataItem.releaseProgress}}%</strong>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="implementedServer" title="Implement" width="100">
            <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                <kendo-grid-string-filter-cell
                    [showOperators]="true"
                    [column]="column"
                    [filter]="filter"
                    operator="contains">
                </kendo-grid-string-filter-cell>
            </ng-template>
        </kendo-grid-column>
        <kendo-grid-column title="Action" width="100">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <div>
                    <span (click)="openRequirementEditWindow(dataItem)" class="dev-status-btn"><i class="k-icon k-i-edit"></i></span>
                    <span (click)="openRequirementDeleteWarning(dataItem.id)" class="dev-status-btn"><i class="k-icon k-i-trash"></i></span>
                </div>
            </ng-template>
        </kendo-grid-column>
    </kendo-grid>
    <div class="float-right">
        <div class="overall-progress">Overall Progress: {{overallProgress}}%</div>
    </div>
</div>
                                   