.dev-status-container {
    padding: 21px !important;
}

.add-dev-status-btn {
    height: 34px;
    border-radius: 7px;
    background-color: #005981;
    font-size: 16px;
    font-weight: 500;
    padding: 0 !important;
    border: 0 !important;
    margin-bottom: 6px !important;
}

button:focus,
button:active {
    outline: none !important;
    box-shadow: none !important;
}

.dev-status-btn {
    cursor: pointer;
    padding: 0px 10px;
    font-size: 10px;
}

.dev-status-btn .k-icon {
    font-size: 22px;
    color: #005981;
    font-weight: bold;
    opacity: 1;
}

::ng-deep #devStatusGrid.k-grid td {
    border: 0;
}

/* Kendo Window Style For */
::ng-deep .k-dialog-titlebar {
    background-color: #005981;
}

::ng-deep .k-window-actions .k-button-icon.k-button.k-bare:nth-child(-n+3){
    display: none !important;
}

::ng-deep #dev-status-window .k-window-actions .k-icon.k-i-close {
    font-size: 25px;
}

::ng-deep #devStatusGrid.k-grid tr.k-state-selected > td {
    background-color: #B2CCD9;
    color:  #323946 !important;
}
.overall-progress {
    padding: 5px 7px 5px 7px;
    background-color: #005981;
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
    margin-top: 5px;
}    