.dev-status-form-container {
    padding: 12px 14px 12px 14px;

}
.dev-status-label {
    color: #005981;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0px;
    padding-left: 12px;
}
.row-margin {
    margin-bottom: 12px;
}

textarea {
    resize: none;
}

/* Notes Custom css */
.note-editor {
    height: 412px;
    border-radius: 7px;
    border: solid 1px #e6eff2;
    background-color: #f6fbfc;
}

::ng-deep .note-editor .k-toolbar {
    background-color: #e6eff5 !important;
}

::ng-deep .note-editor .k-button.k-state-active,
::ng-deep .note-editor .k-button.k-state-focused {
    background: #b2ccd9 !important;
    border-color: #b2ccd9 !important;
    box-shadow: none !important;
}


/* Switch Custom Css */
::ng-deep .k-switch {
    border-radius: 4px;
}
::ng-deep .k-switch-container {
    border: 1px #E4E4E4;
    border-radius: 4px;
}
::ng-deep .k-switch-handle,
::ng-deep .k-switch-on .k-switch-handle,
::ng-deep .k-switch-off .k-switch-handle{
    border-radius: 4px;
    background-color: #ffffff;
}

::ng-deep .k-switch-on .k-switch-container {
    color: #ffffff;
    background-color: #005981;
}

::ng-deep .k-switch-off .k-switch-container ,
::ng-deep .k-switch-off .k-switch-container:hover{
    color: #005981;
    background-color: #ffffff;
}

::ng-deep .k-switch-on .k-switch-container ,
::ng-deep .k-switch-on .k-switch-container:hover{
    background-color: #005981;
    color: #ffffff;
}

::ng-deep .k-switch-label-on:hover {
    background-color: #005981;
}

::ng-deep .kendo-switch.k-widget.k-switch.k-switch-on {
    border-radius: 5px;
}

::ng-deep .k-switch-on:hover .k-switch-handle,
::ng-deep .k-switch-on.k-state-hover .k-switch-handle {
    background-color: #FFFFFF;
    border-color: #005981;
}

::ng-deep .k-switch-on:hover .k-switch-handle, 
::ng-deep .k-switch-on.k-state-hover .k-switch-handle {
    background-color: #ffffff;
}


/* Kendo dropdownlist Styles */

.k-widget.k-multiselect.k-header .k-multiselect-wrap.k-floatwrap .k-reset li {
    background-color: #E6EFF2;
}

::ng-deep .k-multiselect .k-multiselect-wrap .k-button, 
::ng-deep .k-dropdowntree .k-multiselect-wrap .k-button{
    background-color: #E6EFF2 !important;
    height: 31px;
    margin: 1px;
}

::ng-deep #dev-status-form .k-multiselect, 
::ng-deep .k-input {
    height: 34px;
}

::ng-deep .k-button {
    background-image: unset;
}

::ng-deep .k-icon {
    color: #005981;
}

::ng-deep .dev-status-form .k-icon.k-i-arrow-e,
::ng-deep .dev-status-form .k-icon.k-i-arrow-w {
    color: #005981;
}

/* Radio Button checked Custom csss */
::ng-deep .k-radio:checked {
    border-color: #005981;
    background-color: #005981;
}

::ng-deep .k-radio:focus {
    border-color: #005981;
}

::ng-deep .k-radio:checked:focus{
    border-color: #005981;
}

/* Kendo Slider Customk Css */

::ng-deep .k-slider li:not(.k-tick.k-tick-large) {
    visibility: hidden;
}
/* Bootstrap Custom css */
.form-control{
    border: 1px solid #E6EFF2;
}
.form-control:focus{
    box-shadow: none;
    outline: none;
    border-color: #E6EFF2;
}


/* Dev Status Form Custom Css */

.w-100 {
    width: 100%;
}
.w-4 {
    width: 4.61%;
}
.w-8 {
    width: 8.94%;
}
.w-10 {
    width: 10%;
}
.w-10-81 {
    width: 11.78%;
}
.w-11 {
    width: 11.44%;
}
.w-27 {
    width: 27.80%;
}
.w-50 {
    width: 50.73% !important;
}
.w-69 {
    width: 69.95%;
}

/* Button */
.dev_btn {
    margin: 0px 5px;
    width: 160px;
    height: 42px;
    border-radius: 7px;
    background-color: var(--tv-base-color);
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: center;
    color: var(--white);
    transition: all 0.3s ease-out;
}