<div class="dev-status-form-container">
    <form 
        class="dev-status-form"
        #devStatusForm
		(ngSubmit)="submitDevStatusData($event)">
	<div>
		<div class="row g-0">
			<div class="col-md-12">
				<div class="row row-margin">
					<div class="col-md-2 w-11">
						<label for="requirements" class="dev-status-label">Requirements:</label>
					</div>
					<div class="col-md-7 w-69">
						<textarea 
							class="form-control w-100" 
							id="requirements" rows="2" 
							name="requirements" 
							[(ngModel)]="devStatus.requirement"
						></textarea>
					</div>
					<div class="col-md-2 w-10">
						<label 
						for="understanding" 
						class="dev-status-label" >Understanding:</label>
					</div>
					<div class="col-md-1 w-4">
						<kendo-switch 
							[onLabel]="'Yes'" 
							[offLabel]="'No'" 
							name="understanding"
							[(ngModel)]="devStatus.understanding">
						</kendo-switch>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="row row-margin">
					<div class="col-md-2 w-10-81">
						<label for="design" class="dev-status-label">Design:</label>
					</div>
					<div class="col-md-5 w-50">
						<kendo-multiselect
							[data]="userList"
							[textField]="'name'"
							[valueField]="'id'"
							name="designed_by"
							[valuePrimitive]="true"
							[(ngModel)]="devStatus.designedBy">
						</kendo-multiselect>
						</div>
					<div class="col-md-1 w-8">
						<label for="design_progress" class="dev-status-label">Progress:</label>
					</div>
					<div class="col-md-4 w-27">
						<kendo-slider 
							[min]="0" 
							[max]="100" 
							[largeStep]="25"
							class="w-100" 
							name="design_progress"
							[(ngModel)]="devStatus.designProgress">
						</kendo-slider>
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="row row-margin">
					<div class="col-md-2 w-10-81">
						<label for="development" class="dev-status-label">Development:</label>
					</div>
					<div class="col-md-4 w-50">
						<kendo-multiselect 
							[data]="userList"
							[textField]="'name'"
							[valueField]="'id'"
							name="developed_by"
							[valuePrimitive]="true"
							[(ngModel)]="devStatus.developedBy">
						</kendo-multiselect>
					</div>
					<div class="col-md-2 w-8">
						<label for="development_progress" class="dev-status-label">Progress:</label>
					</div>
					<div class="col-md-4 w-27">
						<kendo-slider 
							[min]="0" 
							[max]="100" 
							[largeStep]="25" 
							class="w-100" 
							name="development_progress"
							[(ngModel)]="devStatus.developmentProgress">
						</kendo-slider>
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="row row-margin">
					<div class="col-md-2 w-10-81">
						<label for="qa" class="dev-status-label">QTY Assurance:</label>
					</div>
					<div class="col-md-4 w-50">
						<kendo-multiselect 
							[data]="userList"
							[textField]="'name'"
							[valueField]="'id'"
							name="initial_test_by"
							[valuePrimitive]="true"
							[(ngModel)]="devStatus.initialTestBy">
						</kendo-multiselect>
					</div>
					<div class="col-md-2  w-8">
						<label for="initial_test_progress" class="dev-status-label">Initial Test:</label>
					</div>
					<div class="col-md-4 w-27">
						<input 
							type="radio" 
							name="initial_test_progress" 
							id="initial_test_radio_not_set" 
							class="k-radio"
							[(ngModel)]="devStatus.initialTestProgress" 
							value="0">
						<label 
							class="k-radio-label k_radio_inline"
							for="initial_test_radio_not_set" style="text-transform: uppercase;margin-right: 0.5em;">
							Not Set
						</label>

						<input 
							type="radio" 
							name="initial_test_progress" 
							id="initial_test_radio_yes" 
							class="k-radio"
							[(ngModel)]="devStatus.initialTestProgress" 
							value="1">
						<label 
							class="k-radio-label k_radio_inline"
							for="initial_test_radio_yes" style="text-transform: uppercase;margin-right: 0.5em;">
							Yes
						</label>

						<input 
							type="radio" 
							name="initial_test_progress" 
							id="initial_test_radio_no" 
							class="k-radio"
							[(ngModel)]="devStatus.initialTestProgress" 
							value="2">
						<label
							class="k-radio-label k_radio_inline"
							for="initial_test_radio_no" style="text-transform: uppercase;margin-right: 0.5em;">
							No
						</label>
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="row row-margin">
					<div class="col-md-2 w-10-81">
						
					</div>
					<div class="col-md-4 w-50">
						<kendo-multiselect 
							[data]="userList"
							[textField]="'name'"
							[valueField]="'id'"
							name="feedback_by"
							[valuePrimitive]="true"
							[(ngModel)]="devStatus.feedbackBy">
						</kendo-multiselect>
					</div>
					<div class="col-md-2 w-8">
						<label for="feedback_progress" class="dev-status-label">Feedback:</label>
					</div>
					<div class="col-md-4 w-27">
						<input 
						type="radio" 
						name="feedback_progress" 
						id="feedback_radio_not_set" 
						class="k-radio"
						[(ngModel)]="devStatus.feedbackProgress"
						value="0">
					<label 
						class="k-radio-label k_radio_inline"
						for="feedback_radio_not_set" style="text-transform: uppercase;margin-right: 0.5em;">
						Not Set
					</label>

					<input 
						type="radio" 
						name="feedback_progress" 
						id="feedback_radio_yes" 
						class="k-radio"
						[(ngModel)]="devStatus.feedbackProgress"
						value="1">
					<label 
						class="k-radio-label k_radio_inline"
						for="feedback_radio_yes" style="text-transform: uppercase;margin-right: 0.5em;">
						Yes
					</label>

					<input 
						type="radio" 
						name="feedback_progress" 
						id="feedback_radio_no" 
						class="k-radio"
						[(ngModel)]="devStatus.feedbackProgress"
						value="2">
					<label
						class="k-radio-label k_radio_inline"
						for="feedback_radio_no" style="text-transform: uppercase;margin-right: 0.5em;">
						No
					</label>
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="row row-margin">
					<div class="col-md-12">
						<label for="user_story" class="dev-status-label">User Story Description:</label>
					</div>
					
				</div>
			</div>

			<div class="col-md-12">
				<div class="row row-margin">
					<div class="col-md-12">
						<div class="note-editor-container">
							<kendo-editor 
								#noteEditor 
								[iframe]="false" 
								class="note-editor" 
								name="details"
								[(ngModel)]="devStatus.details">
							</kendo-editor>
						</div>
					</div>
					
				</div>
			</div>

			<div class="col-md-12">
				<div class="row row-margin">
					<div class="col-md-2 w-10-81">
						<label for="design" class="dev-status-label">Release:</label>
					</div>
					<div class="col-md-4 w-50">
						<kendo-dropdownlist 
							class="w-100"
							[data]="userList"
							[textField]="'name'"
							[valueField]="'id'"
							name="released_by"
							[valuePrimitive]="true"
							[(ngModel)]="devStatus.releasedBy">
						</kendo-dropdownlist>
					</div>
					<div class="col-md-2 w-8">
						<label for="release_progress" class="dev-status-label">Progress:</label>
					</div>
					<div class="col-md-4 w-27">
						<kendo-slider 
							[min]="0" 
							[max]="100" 
							[smallStep]="25"
							[largeStep]="25"
							style="width: 100%" 
							name="release_progress"
							[(ngModel)]="devStatus.releaseProgress">
						</kendo-slider>
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="row row-margin">
					<div class="col-md-2 w-10-81">
						<label for="implemented_in" class="dev-status-label">To Implement:</label>
					</div>
					<div class="col-md-4 w-50">
						<kendo-multiselect
							[data]="clientList"
							[textField]="'name'"
							[valueField]="'id'"
							name="implemented_in"
							[valuePrimitive]="true"
							(valueChange)="implementChange($event)"
							(removeTag)="removeTag($event)"
							[(ngModel)]="devStatus.implementedIn">
						</kendo-multiselect>
					</div>
				</div>
			</div>

			<div *ngFor="let imp of devStatus.implementedIn">
				<div class="col-md-12">
					<div class="row row-margin">
						<div class="col-md-2 w-10-81">
							<label for="implementationProgress_{{imp}}" class="dev-status-label">
								{{ getClientName(imp) }}
							</label>
						</div>
						<div class="col-md-4 w-50">
							<kendo-switch 
								name="implementationProgress_{{imp}}"
								[onLabel]="'Yes'" 
								[offLabel]="'No'" 
								[(ngModel)]="devStatus.implementationProgress[getClientName(imp)]">
							</kendo-switch>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
			<!-- Save Button -->
			<div class="btn-container">
				<div class="col-md-12">
					<div class="row row-margin">
						<div class="col-md-10"></div>
						<div class="col-md-2 pull right">
							<button type="submit" class="btn dev_btn">Save</button>
						</div>
					</div>
				</div>
			</div>
	</form>
</div>