<div style="padding: 21px;">
    <form (ngSubmit)="updateTaskData(f)" #f="ngForm">
        <div class="row g-0" *ngIf="!loading">
            <div class="col-md-12">
                <div class="row mb-3 g-0">
                    <div class="col-md-2 tv-input w-14">
                        <label for="title" class="tv-input-label pl-12">Task Name:</label>
                    </div>
                    <div class="col-md-10 w-85">
                        <textarea class="form-control" id="title" rows="2" name="title"
                            [(ngModel)]="task.title"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-12 g-0">
                <div class="row mb-3 g-0">
                    <div class="col-md-4 g-0">
                        <div class="col-md-12">
                            <div class="row g-0 left-col">
                                <label for="tsakType" class="tv-input-label w-39">Task Type:</label>
                                <kendo-dropdownlist [data]="taskTypes" [kendoDropDownFilter]="filterSettings"
                                    [textField]="'typeName'" [valuePrimitive]="true" name="tasktype" [valueField]="'id'"
                                    class="w-60 task-details-dropdown" [(ngModel)]="task.typeId">
                                </kendo-dropdownlist>
                            </div>
                            <div class="row g-0 left-col">
                                <label for="startDate" class="tv-input-label w-39">Start Date:</label>
                                <kendo-datepicker class="w-60 date-container" name="startDate" [format]="'dd.MM.yyyy'"
                                    [(ngModel)]="task.startDate"></kendo-datepicker>
                            </div>
                            <div class="row g-0 left-col">
                                <label for="creator" class="tv-input-label w-39">Creator:</label>
                                <kendo-dropdownlist [data]="userList" [textField]="'name'" name="creator"
                                    [valuePrimitive]="true" [valueField]="'id'" [kendoDropDownFilter]="filterSettings"
                                    class="w-60 task-details-dropdown" [(ngModel)]="task.personNr">
                                </kendo-dropdownlist>
                            </div>
                            <div class="row g-0 left-col">
                                <label for="module" class="tv-input-label w-39">Module:</label>
                                <kendo-dropdownlist [data]="modules" [textField]="'name'" name="creator"
                                    [valuePrimitive]="true" [valueField]="'id'" [kendoDropDownFilter]="filterSettings"
                                    class="w-60 task-details-dropdown" [(ngModel)]="task.moduleId">
                                </kendo-dropdownlist>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 g-0">
                        <div class="col-md-12">
                            <div class="row g-0 left-col">
                                <label for="team" class="tv-input-label w-39">Team:</label>
                                <kendo-dropdownlist [data]="groupedData" [kendoDropDownFilter]="filterSettings"
                                    [textField]="'name'" [valuePrimitive]="true" name="team" [valueField]="'id'"
                                    class="w-60 task-details-dropdown" [(ngModel)]="task.teamId">
                                    <ng-template kendoDropDownListItemTemplate let-dataItem>
                                        <span class="template">{{ dataItem.member }}</span>
                                    </ng-template>
                                </kendo-dropdownlist>
                            </div>
                            <div class="row g-0 left-col">
                                <label for="startDate" class="tv-input-label w-39">End Date:</label>
                                <kendo-datepicker class="w-60 date-container" name="endDate" [format]="'dd.MM.yyyy'"
                                    [(ngModel)]="task.endDate"></kendo-datepicker>
                            </div>
                            <div class="row g-0 left-col">
                                <label for="responsible" class="tv-input-label w-39">Responsible:</label>
                                <kendo-dropdownlist [data]="userList" [textField]="'name'" name="responsible"
                                    [valuePrimitive]="true" [valueField]="'id'" [kendoDropDownFilter]="filterSettings"
                                    class="w-60 task-details-dropdown" [(ngModel)]="task.responsibleNr">
                                </kendo-dropdownlist>
                            </div>
                            <div class="row g-0 left-col">
                                <label for="client" class="tv-input-label w-39">Client:</label>
                                <kendo-dropdownlist [data]="clients" [textField]="'name'" name="client"
                                    [valuePrimitive]="true" [valueField]="'id'" [kendoDropDownFilter]="filterSettings"
                                    class="w-60 task-details-dropdown" [(ngModel)]="task.clientId">
                                </kendo-dropdownlist>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 g-0">
                        <div class="col-md-12">
                            <div class="row g-0 right-col">
                                <label for="sprint" class="tv-input-label w-39">Sprint:</label>
                                <kendo-dropdownlist [data]="sprints" [kendoDropDownFilter]="filterSettings"
                                    [textField]="'name'" [valuePrimitive]="true" name="sprint" [valueField]="'id'"
                                    class="w-60 task-details-dropdown" [(ngModel)]="task.sprintId">
                                </kendo-dropdownlist>
                            </div>
                            <div class="row g-0 right-col">
                                <label for="priorityColor" class="tv-input-label w-39">Priority Color:</label>
                                <kendo-dropdownlist [data]="priorityColorList" [kendoDropDownFilter]="filterSettings"
                                    [textField]="'colorName'" [valuePrimitive]="true" name="priorityColor"
                                    [valueField]="'colorCode'" class="w-60 task-details-dropdown"
                                    [(ngModel)]="task.priorityColor">
                                </kendo-dropdownlist>
                            </div>
                            <div class="row g-0 right-col">
                                <label for="subResponsible" class="tv-input-label w-39">Sub-responsible:</label>
                                <kendo-multiselect [data]="userList" [textField]="'name'" [valuePrimitive]="true"
                                    name="subResponsible" [valueField]="'id'" [kendoDropDownFilter]="filterSettings"
                                    class="w-60 task-details-dropdown" [(ngModel)]="task.subResponsibles">
                                </kendo-multiselect>
                            </div>
                        </div>
                    </div>
                </div>
                     
            </div>
            <div class="col-md-12 g-0">
                <div class="row mb-3 g-0">
                    <div class="col-md-2 tv-input w-14">
                        <label for="progress" class="tv-input-label pl-12">Progress:</label>
                    </div>
                    <div class="col-md-2" style="width: 51.434%">
                        <kendo-slider [min]="0" [max]="100" [largeStep]="25" [smallStep]="25" style="width: 100%"
                            [(ngModel)]="task.progress" name="progress"></kendo-slider>
                    </div>
                    <div class="col-md-2 tv-input w-16">
                        <label for="estTime" class="tv-input-label pl-33">Estimated Time:</label>
                    </div>
                    <div class="col-md-2 w-17">
                        <kendo-timepicker [format]="'HH:mm'" class="w-100 date-container" name="estTime"
                            [(ngModel)]="task.estTime"></kendo-timepicker>
                    </div>
                </div>
            </div>


            <div class="col-md-12 g-0">
                <kendo-editor class="task-details-editor" [iframe]="false" name="details" [(ngModel)]="task.details">
                </kendo-editor>
            </div>
            <div class="bottom-bar">
                <div style="padding-top: 11px;">
                    <label for="estTime" class="tv-input-label pr-2">Consumed Time: </label>
                    <kendo-timepicker [format]="'HH:mm'" name="consumed" class="date-container" style="width: 156px;"
                        [(ngModel)]="task.estTime"></kendo-timepicker>
                </div>
                <div>
                    <button type="submit" class="btn delete-button"><span class="trash"></span>Delete</button>
                    <button type="submit" class="btn update-button">Update</button>
                </div>
            </div>

        </div>
        <div *ngIf="loading" class="loading k-i-loading"></div>
    </form>
</div>