.update-task-container{
    margin: 21px;
}
.tv-input-label{
    text-align: left;
    font-family: 'Avenir Next Cyr';
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0px;
    color: #005081;
    opacity: 1;
}

.tv-input{
    padding-top: 8px;
    /* margin-left: 12px; */
    /* width: 118px; */
}

/* ::ng-deep .date-container .k-input{
    height: 34px !important;
    border-radius: 10px;
} */
::ng-deep .date-container.k-datepicker{
    height: 34px !important;
    border-radius: 3px;
    border: 1px solid #E6EFF2;
}
::ng-deep .date-container.k-datepicker .k-picker-wrap{
    border-radius: 3px;
    
}
::ng-deep .date-container.k-datepicker:hover,
::ng-deep .date-container.k-timepicker:hover{
    background-color: transparent;
    background-image: unset;
}
::ng-deep .date-container.k-datepicker .k-select,
::ng-deep .date-container.k-timepicker .k-select,
::ng-deep .date-container.k-datepicker .k-picker-wrap:hover .k-select,
::ng-deep .date-container.k-timepicker .k-picker-wrap:hover .k-select,
::ng-deep .date-container.k-datepicker .k-select:hover{
    background-color: transparent !important;
    background-image: unset !important;
}


::ng-deep .k-slider .k-slider-selection {
    background-color: #005981;
    height: 11px;
    margin-top: -5px;
    border-radius: 10px;
}
::ng-deep .k-slider .k-slider-track{
    height: 11px;
    border-radius: 10px;
    margin-top: -5px;
    width: 100%;
}

::ng-deep .k-slider .k-draghandle {
    display: none;
}
::ng-deep .task-details-dropdown.k-dropdown,
::ng-deep .task-details-dropdown.k-multiselect{
    /* height: 150px; */
    border: 1px solid #E6EFF2;
    border-radius: 3px;
    
}
::ng-deep .task-details-dropdown.k-dropdown .k-dropdown-wrap{
    background-color: transparent;
    background-image: unset;
    border-radius: 3px;
}
::ng-deep .date-container .k-icon,
::ng-deep .task-details-dropdown .k-icon{
    color: #005981;
}

.form-control{
    border: 1px solid #E6EFF2;
}
.form-control:focus{
    box-shadow: none;
    outline: none;
    border-color: #E6EFF2;
}
textarea {
    resize: none;
}
.w-14{
    width: 14.4431% !important;
}
.w-85{
    width: 85.5569%;
}
.w-17{
    width: 17.33%;
}
.w-16{
    width: 16.775%;
}
.w-100{
    width: 100% !important;
}
.pl-33{
    padding-left: 33px;
}
.pl-12{
    padding-left: 12px;
}

.w-39{
   width: 39.55%;
}
.w-60{
   width: 60.4%;
}
.pb-13{
    padding-bottom: 13px;
}
.left-col{
    padding:0px 21px 13px 12px;
}
.right-col{
    padding:0px 0px 13px 12px;
}

.delete-button{
    margin: 0 12px 0 0;
    width: 160px;
    height: 42px;
    border-radius: 7px;
    background-color: #F6FBFC;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: center;
    color:  var(--tv-base-color);
    transition: all 0.3s ease-out;
}
.trash{
    background-image: url("../../../../../../assets/delete.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 17px;
    width: 20px;
}
.update-button{
    margin: 0;
    width: 160px;
    height: 42px;
    border-radius: 7px;
    background-color: var(--tv-base-color);
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: center;
    color: var(--white);
    transition: all 0.3s ease-out;
}
.update-button:active{
    color: var(--tv-base-color);
    background-color: #F6FBFC;
}
.delete-button:active{
    background-color: var(--tv-base-color);
    color: #F6FBFC;
}

.update-button, .delete-button:focus{
    box-shadow: none;
}

.bottom-bar{
    display: flex;
    justify-content: space-between;
    padding: 23px 0px 0px 0px;
}
.task-details-editor {    
     height: 446px;     
     border-radius: 7px;     
     border: solid 1px #e6eff2;     
     background-color: #f6fbfc; 
    }  
::ng-deep .task-details-editor .k-toolbar {    
     background-color: #e6eff5 !important; 
    }  
::ng-deep .task-details-editor .k-state-active, 
::ng-deep .task-details-editor .k-state-focused,  
::ng-deep .task-details-editor .k-state-focused:active {     
    background: #b2ccd9 !important;     
    border-color: #b2ccd9 !important;     
    box-shadow: none !important; 
    }
::ng-deep .k-animation-container .k-state-selected{
    background: #005981 !important;     
    border-color: #005981 !important;     
    box-shadow: none !important; 
}
.loading{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 735px;
    font-size: 67px;
    color: #005981;
}