@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts//AvenirNextCyr-Thin.woff2') format('woff2'),
        url('../fonts//AvenirNextCyr-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts//AvenirNextCyr-MediumItalic.woff2') format('woff2'),
        url('../fonts//AvenirNextCyr-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts//AvenirNextCyr-Heavy.woff2') format('woff2'),
        url('../fonts//AvenirNextCyr-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts//AvenirNextCyr-LightItalic.woff2') format('woff2'),
        url('../fonts//AvenirNextCyr-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts//AvenirNextCyr-BoldItalic.woff2') format('woff2'),
        url('../fonts//AvenirNextCyr-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts//AvenirNextCyr-Light.woff2') format('woff2'),
        url('../fonts//AvenirNextCyr-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts//AvenirNextCyr-Bold.woff2') format('woff2'),
        url('../fonts//AvenirNextCyr-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts//AvenirNextCyr-Regular.woff2') format('woff2'),
        url('../fonts//AvenirNextCyr-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts//AvenirNextCyr-Demi.woff2') format('woff2'),
        url('../fonts//AvenirNextCyr-Demi.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts//AvenirNextCyr-Italic.woff2') format('woff2'),
        url('../fonts//AvenirNextCyr-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Cyr Ultra';
    src: url('../fonts//AvenirNextCyr-UltraLightIt.woff2') format('woff2'),
        url('../fonts//AvenirNextCyr-UltraLightIt.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts//AvenirNextCyr-ThinItalic.woff2') format('woff2'),
        url('../fonts//AvenirNextCyr-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts//AvenirNextCyr-HeavyItalic.woff2') format('woff2'),
        url('../fonts//AvenirNextCyr-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts//AvenirNextCyr-DemiItalic.woff2') format('woff2'),
        url('../fonts//AvenirNextCyr-DemiItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Cyr Ultra';
    src: url('../fonts//AvenirNextCyr-UltraLight.woff2') format('woff2'),
        url('../fonts//AvenirNextCyr-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts//AvenirNextCyr-Medium.woff2') format('woff2'),
        url('../fonts//AvenirNextCyr-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

