::ng-deep #timesheetGrid {
    padding: 14px 33px 0 !important;
}

::ng-deep #timesheetGrid .k-grid-content {
    overflow-y: auto !important;
}

::ng-deep #timesheetGrid .k-grid-header thead tr {
    display: flex;
    flex-direction: row;
}

::ng-deep #timesheetGrid .k-grid-header thead th:first-child {
    display: none !important;
}

::ng-deep #timesheetGrid .k-grid-header thead th:nth-child(2) {
    min-width: 215px;
}

::ng-deep #timesheetGrid .k-grid-header thead th:nth-child(3) {
    min-width: 180px;
}

::ng-deep #timesheetGrid .k-grid-header thead th:nth-child(4) {
    min-width: 158px;
    display: flex;
    justify-content: center;
}

::ng-deep #timesheetGrid .k-grid-header thead th:nth-child(5) {
    min-width: 158px;
    display: flex;
    justify-content: center;
}

::ng-deep #timesheetGrid .k-grid-header thead th:nth-child(6) {
    min-width: 160px;
    display: flex;
    justify-content: flex-end;
}

::ng-deep #timesheetGrid.k-grid,
::ng-deep #timesheetGrid.k-grid td,
::ng-deep #timesheetGrid .k-grid-header-wrap,
::ng-deep #timesheetGrid .k-grid-header th.k-header {
    border: 0 !important;
}

::ng-deep #timesheetGrid .k-grid-header th.k-header>.k-link{
    font-size: 16px !important;
    line-height: 20px !important;
    color: #005981 !important;
}

::ng-deep #timesheetGrid .k-grouping-row:first-child > td {
    padding-top: 12px !important;
}

::ng-deep #timesheetGrid.k-grid td {
    font-size: 14px !important;
    line-height: 18px !important;
    font-weight: 500;
    padding: 8px 0;
    background: #F4F8FB 0% 0% no-repeat padding-box !important;
}

::ng-deep #timesheetGrid .k-grid-header {
    background-color: #ffffff !important;
    padding: 0 !important;
    color: #175981;
}

::ng-deep #timesheetGrid .k-header {
    background-color: #ffffff !important;
    padding: 9px 0 !important;
    color: #175981;
}

::ng-deep #timesheetGrid.k-grid .k-grouping-row {
    background: #ffffff !important;
}

::ng-deep #timesheetGrid .k-grouping-row > td {
    background: transparent !important;
}

::ng-deep #timesheetGrid div.k-grid-header {
    padding-left: 0 !important;
    border-bottom: 0 !important;
}

/* ::ng-deep #timesheetGrid.k-grid tbody td:last-child */

::ng-deep #timesheetGrid.k-grid tbody td:first-child {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    color: #303945;
}

::ng-deep #timesheetGrid.k-grid td:nth-child(3) {
    color: #005981 !important;
}

::ng-deep #timesheetGrid.k-grid tbody td:last-child {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

::ng-deep #timesheetGrid .k-grid-content tr.k-state-selected {
    color: #005981 !important;
    background: #F4F8FB 0% 0% no-repeat padding-box !important;
}

::ng-deep #timesheetGrid table {
    border-collapse: separate;
    border-spacing: 0px !important;
}

::ng-deep #timesheetGrid table.k-grid-table {
    border-collapse: separate;
    border-spacing: 0 4px !important;
}

/* ::ng-deep #timesheetGrid table tbody {
    padding-left: 40px;
} */

::ng-deep ::-webkit-scrollbar,
::ng-deep #timesheetGrid .k-grid-content::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
}

::ng-deep ::-webkit-scrollbar-thumb {
    background-color: #E6EFF2;
    border-radius: 3px !important;
}

::ng-deep ::-webkit-scrollbar-track {
    background-color: #F6FBFF;
    border-radius: 3px !important;
}

::ng-deep #timesheetGrid.k-grid tr.k-group-footer td {
    font-weight: 600 !important;
}

::ng-deep #timesheetGrid.k-grid .k-grid-footer {
    border: 0 !important;
    padding: 0 !important;
}

::ng-deep #timesheetGrid.k-grid .k-grid-footer tr.k-footer-template {
    display: flex;
    flex-direction: row;
}

::ng-deep #timesheetGrid .k-grid-footer tr.k-footer-template td:first-child {
    display: none !important;
}

::ng-deep #timesheetGrid .k-grid-footer tr.k-footer-template td:nth-child(2) {
    min-width: 215px;
    min-height: 34px;
}

::ng-deep #timesheetGrid .k-grid-footer tr.k-footer-template td:nth-child(3) {
    min-width: 180px;
    min-height: 34px;
}

::ng-deep #timesheetGrid .k-grid-footer tr.k-footer-template td:nth-child(4) {
    min-width: 158px;
    min-height: 34px;
    display: flex;
    justify-content: center;
}

::ng-deep #timesheetGrid .k-grid-footer tr.k-footer-template td:nth-child(5) {
    min-width: 158px;
    min-height: 34px;
    display: flex;
    justify-content: center;
}

::ng-deep #timesheetGrid .k-grid-footer tr.k-footer-template td:nth-child(6) {
    min-width: 160px;
    min-height: 34px;
    display: flex;
    justify-content: flex-end;
}

::ng-deep #timesheetGrid.k-grid .k-grid-footer tr.k-footer-template td,
::ng-deep #timesheetGrid.k-grid .k-grid-footer .k-grid-footer-wrap {
    background: #ffffff !important;
    font-weight: bold;
    font-size: 14px;
    color: #303945;
}

::ng-deep #timesheetGrid.k-grid tr.k-group-footer td.total_grouped_label {
    text-align: left !important;
}

::ng-deep #timesheetGrid.k-grid tr.k-group-footer td.total_grouped_hour {
    color: #40944E !important;
    text-align: left !important;
}

::ng-deep #timesheetGrid.k-grid .k-grid-header .k-i-sort-desc-sm:before {
    content: "\e015" !important;
    font-size: 18px !important;
}

::ng-deep #timesheetGrid.k-grid .k-grid-header .k-i-sort-asc-sm:before {
    content: "\e013" !important;
    font-size: 18px !important;
}

::ng-deep #timesheetGrid tr.k-grouping-row .k-reset {
    float: left !important;
    font-weight: bold;
    font-size: 13px !important;
    color: #303945;
}
::ng-deep .k-icon.k-i-collapse::before {
    content: "\e015"
}

::ng-deep .k-icon.k-i-expand::before {
    content: "\e013";
}

::ng-deep .k-grid .k-grouping-row .k-icon {
    color: #005081;
}

::ng-deep #timesheetGrid.k-grid .align-center {
    text-align: center !important;
}

::ng-deep #timesheetGrid.k-grid .align-right {
    text-align: right !important;
}

::ng-deep #timesheetGrid.k-grid .pr-33 {
    padding-right: 33px !important;
}

::ng-deep #timesheetGrid.k-grid .pr-27 {
    padding-right: 27px !important;
}

::ng-deep #timesheetGrid.k-grid .d-block {
    display: block !important;
}

