<kendo-grid 
    #timesheetGrid
    id="timesheetGrid"
    style="height: calc(100vh - 156px)"
    [data]="gridView"
    [group]="groups"
    style="height: auto;">
    <kendo-grid-column field="user_name" title="User" width="210" hidden="true">
        <ng-template kendoGridGroupHeaderTemplate let-value="value">
             {{ value }}
        </ng-template>
        <ng-template let-dataItem>{{ dataItem }}</ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="date" title="User" width="190">
        <ng-template kendoGridFooterTemplate let-column let-columnIndex="columnIndex">
            Total Elapsed Time
          </ng-template>
    </kendo-grid-column>
    
    <kendo-grid-column field="status" title="Work Type" width="230" id="status"></kendo-grid-column>

    <kendo-grid-column field="start_time" title="Start Time" width="120"></kendo-grid-column>
    <kendo-grid-column field="end_time" title="End Time" width="120" class="align-center"></kendo-grid-column>
    
    <kendo-grid-column field="elapsed_time" title="Elapsed Time" width="160" class="align-right pr-33">
        <ng-template kendoGridGroupHeaderColumnTemplate let-value="value">
            <span class="d-block align-right pr-33">20:20</span>
        </ng-template>
        <ng-template kendoGridFooterTemplate let-column let-columnIndex="columnIndex">
            <span class="d-block align-right pr-27">20:20</span>
        </ng-template>
    </kendo-grid-column>
</kendo-grid>
