<form class="k-form" (ngSubmit)="submitData($event)" [formGroup]="taskForm">
    <kendo-tabstrip #tabStrip height="calc(100vh - 234px)" [keepTabContent]="true">
        <kendo-tabstrip-tab [title]="'Details'" [selected]="true">
            <ng-template kendoTabContent>
                <app-task-form [isNew]="true" [taskForm]="taskForm"></app-task-form>
            </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab [title]="'Attachments'" *ngIf="permissions?.tabAttachments.isChecked">
            <ng-template kendoTabContent>
                <app-attachment [currentAttachments]="[]" [parentForm]="taskForm" (fileCounter)="fileCount = $event" (uploader)="fileUploader = $event" (completeEvent)="uploadCompleteEvent($event)"></app-attachment>
            </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab [title]="'Dev Status'" *ngIf="permissions?.tabDevStatus?.isChecked">
            <ng-template kendoTabContent>
                <app-dev-status [isNewTask]="true" (allDevStatus)="devStatusList = $event"></app-dev-status>
            </ng-template>
        </kendo-tabstrip-tab>
    </kendo-tabstrip>
    <div class="text-right" style="padding-top: 15px;">
        <button type="button" class="btn cancel-button" (click)="closeWindow()">Cancel</button>
        <button type="submit" class="btn save-button">Save</button>
    </div>
</form>
<app-warning-modal 
    yesBtnTitle="Yes"
    noBtnTitle="No"
    messageText="Data was not saved yet. Wanna save task data?"
    [modalOpened]="isChangeWarningModalOpen"
    [onYesBtnClicked]="saveChangedData" 
    [onNoBtnClicked]="closeChangeWarning"
    [onCloseBtnClicked]="closeChangeWarning"
> 
</app-warning-modal>
