.cancel-button{
    margin: 0 12px 0 0;
    width: 160px;
    height: 42px;
    border-radius: 7px;
    background-color: #F6FBFC;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: center;
    color:  var(--tv-base-color);
    transition: all 0.3s ease-out;
}

.save-button{
    margin: 0;
    width: 160px;
    height: 42px;
    border-radius: 7px;
    background-color: var(--tv-base-color);
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: center;
    color: var(--white);
    transition: all 0.3s ease-out;
}

.save-button:active{
    color: var(--tv-base-color);
    background-color: #F6FBFC;
}

.cancel-button:active{
    background-color: var(--tv-base-color);
    color: #F6FBFC;
}

.save-button, .cancel-button:focus{
    box-shadow: none;
}