<div class="warning-modal-wrapper">
    <kendo-dialog 
        id="warning-modal-dialog"
        title="Dialog" 
        *ngIf="modalOpened" 
        (close)="onCloseBtnClicked()" 
        [minWidth]="250" 
        [width]="455">
        <div class="divalert">
            <img src="./../../../../../assets/Delete_Confirmation.png" width="97" alt="">
            <p> {{ messageText }} </p>
        </div>
        <div class="btn-yes-no-container">
            <button id="btn-no" (click)="onNoBtnClicked()"> {{ noBtnTitle }} </button>
            <button id="btn-yes" (click)="onYesBtnClicked()"> {{ yesBtnTitle }} </button>
        </div>
    </kendo-dialog>
</div>