.warning-modal-wrapper {
    box-shadow: 0px 8px 25px #15375229 !important;
    border-radius: 15px !important;
}

.warning-modal-wrapper .divalert {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -15px;
}

.warning-modal-wrapper .divalert p {
    margin-top: 16px;
    margin-bottom: 30px;
    color: #005981;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
}

::ng-deep .warning-modal-wrapper .k-dialog,
::ng-deep .warning-modal-wrapper .k-dialog-titlebar {
    border: 0;
    color: #ffffff !important;
    border-radius: 15px !important;
    background-color: #ffffff !important;
}

::ng-deep .warning-modal-wrapper .k-dialog-titlebar {
    padding: 8px 0px !important;
}

::ng-deep .warning-modal-wrapper .k-window-content {
    padding: 16px 16px 24px 16px !important;
}

::ng-deep .warning-modal-wrapper .k-dialog-title + .k-dialog-actions .k-dialog-close:hover {
    color: transparent !important;
}

::ng-deep .warning-modal-wrapper .k-dialog-title + .k-dialog-actions .k-icon.k-i-x {
    color: #B2CCD9 !important;
    font-size: 20px !important;
    margin-right: 25px;
    margin-top: 4px;
}

.btn-yes-no-container {
    display: flex;
    justify-content: center;
}

#btn-no {
    background: #F6FBFC 0% 0% no-repeat padding-box; 
    padding: 0; 
    border: 0; 
    border-radius: 7px; 
    width: 160px; 
    height: 42px; 
    font-size: 18px; 
    line-height: 22px; 
    color: #005981; 
    font-weight: bold; 
    margin-right: 12px; 
    position: relative;
}

#btn-yes {
    background: #005981 0% 0% no-repeat padding-box; 
    padding: 0; 
    border: 0; 
    border-radius: 7px; 
    width: 160px; 
    height: 42px; 
    font-size: 18px; 
    line-height: 22px; 
    color: #ffffff; 
    font-weight: bold;
}

#warning-modal-dialog {
    z-index: 99999999 !important;
}