<div class="tv-main-content">
  <app-navbar></app-navbar>
  <div class="row tv-content">
    <div class="col-md-2 pl-0 pr-2">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-10 tv-data-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>