.tv-main-content {
    padding: .7em .75em;
    width: 100%;
}
.tv-content {
    margin: 0;
    margin-top: .75rem;
}

.tv-data-area {
    margin: 0;
}

@media (min-width: 768px){
    .tv-content .col-md-2 {
        width: 12.75%!important;
    }
    .tv-content .col-md-10 {
        flex: 0 0 auto;
        width: 87.25%!important;
    }
}