<div>
	<button class="new-gantt-btn" type="button" (click)="openWindow()" style="margin: 1em 0 0 1em">New Gantt Task</button>

	<div class="g-flex g-flex-row" style="padding: 1em;">
		<div class="g-flex g-flex-column gantt-grid">
			<section class="g-flex g-flex-row g-align-items-center g-justify-content-center grid-cell h-60">
				<div>Phase</div>
				<div>Task</div>
				<div>Responsible</div>
				<div>Status</div>
				<div>Progress</div>
			</section>

			<section 
				class="g-flex g-flex-row g-align-items-center g-justify-content-center phase-section font-14"
				*ngFor="let phase of phaseData">
				<div 
					class="g-flex g-justify-content-center g-align-items-center w-20 h-100 phase-title"
					style="flex: 1">
					{{ phase.name }}
				</div>

				<div 
					class="g-flex g-flex-column g-justify-content-center g-align-items-center" 
					style="flex: 4">
					<div 
						*ngFor="let task of phase.tasks"
						class="g-flex g-flex-row g-justify-content-center g-align-items-center w-100 h-40 phase-body"
						[ngClass]="currentTaskID == task.id ? 'selected-task' : ''" 
						(click)="selectTask(task)"
						(dblclick)="taskDblClick(task)">
						<div class="g-flex g-justify-content-center g-align-items-center w-25 h-inherit phase-content">
							{{ task.task }}
						</div>
						<div class="g-flex g-justify-content-center g-align-items-center w-25 h-inherit phase-content">
							{{ task.startDate }}
						</div>
						<div class="g-flex g-justify-content-center g-align-items-center w-25 h-inherit phase-content">
							{{ task.endDate }}
						</div>
						<div class="g-flex g-justify-content-center g-align-items-center w-25 h-inherit phase-content">
							{{ task.progress }}
						</div>
					</div>
				</div>
			</section>
		</div>
		<div class="g-flex g-flex-column gantt-calendar">
			<section class="g-flex g-flex-column timeline-cell h-60">
				<div class="g-flex g-flex-row month-container">
					<div *ngFor="let month of monthsList"
						class="g-flex g-align-items-center g-justify-content-center month-title"
						[ngStyle]="getMonthStyle(month)">
						{{ month }}
					</div>
				</div>
				<div class="g-flex g-flex-row week-container font-13">
					<div *ngFor="let week of weeksList; let i = index"
						class="g-flex g-align-items-center g-justify-content-center week-title"
						[ngStyle]="getWeekStyle(i)">
						KW {{ week }}
					</div>
				</div>
			</section>

			<section class="g-flex g-flex-row timeline-data-cell h-40" *ngFor="let data of ganttList">
				<div class="g-flex g-flex-row week-data-container font-13 gantt-week-data-container"
					style="position: relative;" [ngClass]="currentTaskID == data.id ? 'selected-task' : ''">
					<div *ngFor="let week of weeksList; let i = index"
						class="g-flex g-align-items-center g-justify-content-center week-data-title week_{{week}}"
						[ngStyle]="getWeekStyle(i)">
					</div>
					<div class="gantt-progress-wrapper gantt_{{data.id}}" [attr.data-row-id]="data.id">
						<div class="gantt-progress"></div>
						<div class="gantt-left-handle"></div>
						<div class="gantt-right-handle"></div>
					</div>
				</div>
			</section>
		</div>
	</div>

	<div class="gantt-form-window-wrapper">
		<div class="k-overlay" *ngIf="isWindowOpened"></div>
		<kendo-window 
			id="gantt-form-window" 
			*ngIf="isWindowOpened" 
			(close)="closeWindow()" 
			[minWidth]="300"
			[width]="900" 
			[resizeable]="false" 
			[draggable]="false" 
			[(top)]="windowTop"
			[(left)]="windowLeft">
			<kendo-window-titlebar>
				<div class="k-window-title">Gantt: {{ currentProject ? currentProject.name : ""  }} </div>
				<span class="k-icon k-i-close c-pointer" (click)="closeWindow()"></span>
			</kendo-window-titlebar>
			<app-gantt-form 
				[isNewGantt]="isNewGantt" 
				[currentProject]="currentProject" 
				[currentGantt]="currentGantt" 
				[isClosePressed]="isClosePressed"
				(isGanttWindowOpened)="isWindowOpened = $event; isClosePressed = false">
			</app-gantt-form>
		</kendo-window>
	</div>
</div>