* {
	--gantt-bg-color: #f6fbfc;
	--gantt-border-color: #e6eff2;
	--blue-theme-color: #005981;
	--dark-blue-color: #005175;
	--white: #fff;
}

.g-flex {
	display: flex;
}

.g-flex-row {
	flex-direction: row;
}

.g-flex-column {
	flex-direction: column;
}

.g-justify-content-center {
	justify-content: center;
}

.g-align-items-center {
	align-items: center;
}

.font-13 {
	font-size: 13px;
}

.font-14 {
	font-size: 14px;
}

.h-40 {
	height: 40px;
}

.h-inherit {
	height: inherit;
}

.h-100 {
	height: 100%;
}

.w-20 {
	width: 20%;
}

.w-25 {
	width: 25%;
}

.w-100 {
	width: 100%;
}

.h-60 {
	height: 60px;
}

.c-pointer {
	cursor: pointer;
}

.phase-content {
	border-bottom: 1px solid var(--gantt-border-color);
	white-space: nowrap;
	overflow: hidden;
	user-select: none;
}

.phase-title {
	border-bottom: 1px solid var(--gantt-border-color);
}

.phase-title,
.phase-content {
	border-right: 1px solid var(--gantt-border-color);
}

.phase-content:last-child {
	border-right: 0 !important;
}

.phase-body {
	cursor: pointer;
	transition: all 0.2s ease-out;
}

.grid-cell {
	/* background-color: #4f4f4f;
	background-size: 5px 5px;
	background-size: 4px 4px;
	background-position: 0 0, 2px 2px;
	background-image: linear-gradient(
			45deg,
			hsla(0, 0%, 100%, 0.05) 25%,
			transparent 0,
			transparent 75%,
			hsla(0, 0%, 100%, 0.05) 0,
			hsla(0, 0%, 100%, 0.05)
		),
		linear-gradient(
			45deg,
			hsla(0, 0%, 100%, 0.05) 25%,
			transparent 0,
			transparent 75%,
			hsla(0, 0%, 100%, 0.05) 0,
			hsla(0, 0%, 100%, 0.05)
        ); */
	background-color: var(--dark-blue-color);
	/* background-size: 4px 4px;
	background-image: linear-gradient(
		135deg,
		hsla(0, 0%, 100%, 0.2) 25%,
		transparent 0,
		transparent 50%,
		hsla(0, 0%, 100%, 0.2) 0,
		hsla(0, 0%, 100%, 0.2) 75%,
		transparent 0,
		transparent
	); */
	color: #b2ccd9;
	font-weight: bold;
}

.gantt-grid {
	width: 35%;
	background-color: var(--gantt-bg-color);
	color: var(--blue-theme-color);
	height: calc(100vh - 421px);
	border-top: 1px solid var(--dark-blue-color);
	border-bottom: 1px solid var(--gantt-border-color);
	border-left: 1px solid var(--gantt-border-color);
}

.gantt-calendar {
	width: 65%;
	overflow: auto;
	background-color: var(--white);
	height: calc(100vh - 421px);
	border: 1px solid var(--gantt-border-color);
	border-bottom: 0 !important;
}

.grid-data-cell {
	background-color: var(--gantt-bg-color);
	color: var(--blue-theme-color);
	transition: all 0.2s ease-out;
}

.grid-data-cell:hover,
.phase-body:hover {
	background-color: var(--white);
}

.selected-task,
.phase-body.selected-task:hover {
	background-color: var(--white) !important;
}

.month-title {
	background-color: var(--gantt-bg-color);
	color: var(--blue-theme-color);
	border-bottom: 1px solid var(--gantt-border-color);
	font-weight: bold;
}

.week-title {
	background-color: var(--gantt-bg-color);
	color: var(--blue-theme-color);
	border-bottom: 1px solid var(--gantt-border-color);
	font-weight: bold;
}

.week-data-title {
	border-bottom: 1px solid rgb(235, 235, 235);
}

.grid-cell div {
	min-width: 20%;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;
	height: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-top: none !important;
	/* border-right: 1px solid #4f4f4f !important; */
	border-right: 1px solid var(--blue-theme-color) !important;
}

.grid-data-cell div {
	min-width: 20%;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;
	height: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-top: none !important;
	border-right: 1px solid var(--gantt-border-color) !important;
	border-bottom: 1px solid var(--gantt-border-color);
}

.timeline-cell > div {
	height: 50%;
}

.timeline-data-cell > div {
	/* width: 100%; */ /* Need to change if .ts file startMonthDiff & endMonthDiff equal 1*/
	height: 100%;
}

.timeline-cell > .month-container > .month-title {
	text-align: center;
	padding: 0px;
	height: 100%;
}

.timeline-cell > .week-container > .week-title,
.timeline-data-cell > .week-data-container > .week-data-title {
	text-align: center;
	padding: 0;
	white-space: nowrap;
	overflow: hidden;
	height: 100%;
}

.timeline-cell > .month-container > .month-title,
.timeline-cell > .week-container > .week-title {
	border-right: 1px solid var(--gantt-border-color) !important;
}

.timeline-cell > .month-container > .month-title:last-child,
.timeline-cell > .week-container > .week-title:last-child {
	border-right: 0 !important;
}

.timeline-data-cell > .week-data-container > .week-data-title {
	border-right: 1px solid rgb(235, 235, 235) !important;
}

.timeline-data-cell
	> .week-data-container
	> .week-data-title:nth-last-child(2) {
	border-right: 0 !important;
}

.gantt-progress-wrapper {
	left: 450px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 30px;
	cursor: w-resize;
	width: 150px;
	border-radius: 2px;
	/* border-left: 10px solid #049ae1;
	border-right: 10px solid #049ae1; */
	border: 0;
}

.gantt-left-handle {
	width: 3px;
	position: absolute;
	left: 0;
	top: 0;
	height: inherit;
	background-color: var(--dark-blue-color);
	resize: both;
}

.gantt-right-handle {
	width: 3px;
	position: absolute;
	right: 0;
	top: 0;
	height: inherit;
	background-color: var(--dark-blue-color);
	resize: both;
}

.gantt-progress {
	padding: 0;
	cursor: move;
	height: inherit;
	z-index: 10;
	background-color: var(--blue-theme-color);
	background-size: 4px 4px;
	background-image: linear-gradient(
		135deg,
		hsla(0, 0%, 100%, 0.2) 25%,
		transparent 0,
		transparent 50%,
		hsla(0, 0%, 100%, 0.2) 0,
		hsla(0, 0%, 100%, 0.2) 75%,
		transparent 0,
		transparent
	);
	color: var(--white);
}

.new-gantt-btn {
	width: 140px;
	height: 35px;
	border-radius: 4px;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.22;
	text-align: center;
	font-style: normal;
	color: var(--white);
	font-stretch: normal;
	letter-spacing: normal;
	border: 0 !important;
	transition: all 0.3s ease-in;
	background-color: var(--tv-base-color);
}

.new-gantt-btn:hover {
	color: var(--tv-base-color);
	background-color: var(--white);
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.09) !important;
}
