::ng-deep :root {
    --white: #ffffff;
    --tv-base-color: #005981;
    --tv-base-sidebar-font-color: #b2ccd9;
}
body {
    background-color: #f6fbfc;
    font-family: 'Avenir Next Cyr';
}

header {
    width: 100%;
    height: 66px;
}
.tv-nav {
    padding-top: 0rem;
    padding-bottom: 0rem;
    border-radius: 7px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.09);
    background-color: var(--white);
}
.tv-logo {
    width: 186px;
    margin: 7px 0px 1.5px 5px;
}
#tv-navbar-page-container {
    margin-left: 23px;
    margin-bottom: 3.5px;
}
.tv-page-list .nav-item {
    padding: .5rem 1.314em;;
}
.tv-nav-item-active {
    border-bottom: 4px solid var(--tv-base-color);
}
.tv-nav-item-active .nav-link {
    font-weight: 600 !important;
}
.tv-page-list .nav-item .nav-link {
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 22px;
    letter-spacing: -0.01px;
    text-align: center;
    color: var(--tv-base-color)!important;
    padding-top: 1.1rem;
}
.tv-home-icon {
    width: 1.2em;
    height: 1.2em;
    padding-right: 4px;
    padding-bottom: 5px;
}
#tv-navbar-dropdown {
    padding-top: 1.1rem;
}
.tv-login-user-name {
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 22px;
    letter-spacing: -0.01px;
    text-align: center;
    color: var(--tv-base-color)!important;
}
.tv-login-user-img {
    width: 34px;
    height: 34px;
    border: solid 1px #e4e4e4;
    border-radius: 50%;
}
button:focus {
    outline: none;
}
 