<header>
    <nav class="navbar navbar-expand-lg tv-nav navbar-light h-100">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img class="tv-logo" src="../../assets/tv_logo.png" class="d-inline-block align-top" alt=""
                    loading="lazy">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#tv-navbar-page-container"
                aria-controls="tv-navbar-page-container" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="tv-navbar-page-container">
                <ul class="navbar-nav mr-auto mb-2 mb-lg-0 tv-page-list">
                    <!-- <li class="nav-item">
                            <a class="nav-link" href="#"><img class="tv-home-icon" src="icons/home.svg" alt="" />Home</a>
                        </li> -->
                    <li class="nav-item" routerLinkActive="tv-nav-item-active">
                        <a class="nav-link" routerLink="/my_task">My Task</a>
                    </li>
                    <li class="nav-item" routerLinkActive="tv-nav-item-active">
                        <a class="nav-link" routerLink="/team_task" routerLinkActive="active">Teams</a>
                    </li>
                    <li class="nav-item" routerLinkActive="tv-nav-item-active">
                        <a class="nav-link" routerLink="/assigned_task" routerLinkActive="active">Assigned Task</a>
                    </li>
                    <li class="nav-item" routerLinkActive="tv-nav-item-active">
                        <a class="nav-link" routerLink="/meeting" routerLinkActive="active">Meeting</a>
                    </li>
                    <li class="nav-item" routerLinkActive="tv-nav-item-active">
                        <a class="nav-link" routerLink="/project" routerLinkActive="active">Project</a>
                    </li>
                    <li class="nav-item" routerLinkActive="tv-nav-item-active">
                        <a class="nav-link" routerLink="/regel_meeting" routerLinkActive="active">Regular Meeting</a>
                    </li>
                </ul>
                <div class="d-flex">

                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="tv-navbar-dropdown" role="button"
                                data-toggle="dropdown" aria-expanded="false">
                                <span class="tv-login-user-name">Md. Ashraful Alam</span>
                                <img class="tv-login-user-img" src="../../assets/img/Md. Ashraful Alam.jpg"
                                    alt="logo" />
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="tv-navbar-dropdown">
                                <li><a class="dropdown-item" href="#">Dashboard</a></li>
                                <li><a class="dropdown-item" href="#">Profile</a></li>
                                <li><a class="dropdown-item" href="#">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>