.attachment-container {
    padding: 21px !important;
}

div.file-wrapper {
    position: relative;
    width: 100%;
    height: 59.45px;
    display: flex;
    flex-direction: row;
    margin-bottom: 11.55px;
    justify-content: space-between;
}

div.file-container {
    display: flex;
    flex-direction: row;
}

.file-heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-left: 17.15px !important
}

.file-name-heading,
.file-size-heading {
    font-size: 14px !important;
    line-height: 20px;
    font-weight: 500;
}

.file-name-heading {
    color: #303945;
    margin: 0 !important;
}

.file-size-heading {
    color: #C1C3C8;
    margin: 0 !important;
}

::ng-deep .k-upload .k-upload-files {
    max-height: calc(100vh - 443.54px) !important;
    height: calc(100vh - 443.54px) !important;
    border: 0 !important;
    margin-top: 12px;
}

::ng-deep .k-upload,
::ng-deep .k-upload .k-action-buttons {
    border: 0 !important;
}

::ng-deep .k-upload .k-action-buttons {
    display: none !important;
}

::ng-deep .k-upload .k-file.k-state-focused {
    box-shadow: none !important;
}

::ng-deep .k-upload .k-upload-files .k-file {
    border: 0 !important;
    padding: 0 !important;
}

::ng-deep .k-upload .k-dropzone {
    height: 152px;
    border-radius: 7px;
    border: 2px dashed #B2CCD9;
    padding: 0 !important;
    background: #F6FBFC 0% 0% no-repeat padding-box;
    cursor: pointer;
}

::ng-deep .k-upload .k-dropzone .k-upload-button {
    width: 100% !important;
    height: inherit !important;
    padding: 0 !important;
    border: 0 !important;
    background: transparent !important;
}

::ng-deep .k-upload .k-dropzone .k-upload-button input {
    position: relative !important;
    width: 100% !important;
    height: inherit !important;
}

::ng-deep .k-upload .k-dropzone .k-upload-button input + span {
    position: absolute !important;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}

::ng-deep .select-placeholder-img {
    width: 57.43px;
    height: 65.2px;
    display: inline-block;
    margin-right: 17px;
    background-size: 57.43px 65.2px;
    background-repeat: no-repeat;
    background-image: url("./../../../../../../assets/attachment/Upload_File.png");
}

::ng-deep .select-placeholder-label {
    font-size: 20px;
    line-height: 24px;
    color: #005081;
    font-weight: 500;
}

.img-file,
.jpg-file {
    background-image: url("./../../../../../../assets/attachment/JPG.png");
}

.png-file {
    background-image: url("./../../../../../../assets/attachment/PNG.png");
}

.doc-file {
    background-image: url("./../../../../../../assets/attachment/DOC.png");
}

.ppt-file {
    background-image: url("./../../../../../../assets/attachment/PPTX.png");
}

.pdf-file {
    background-image: url("./../../../../../../assets/attachment/PDF.png");
}

.xls-file {
    background-image: url("./../../../../../../assets/attachment/XLSX.png");
}

.default-file {
    background-image: url("./../../../../../../assets/attachment/UnknownFormat.png");
    margin-left: -1px;
}

.file-icon {
    width: 55px;
    height: 60px;
    background-size: 54.85px 59.45px;
    background-repeat: no-repeat;
}

.clear-button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 4px;
}

.clear-icon {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-image: url("./../../../../../../assets/attachment/Delete.png");
    background-repeat: no-repeat;
}

.k-file-progress-overlay,
.k-file-progress-animator {
    height: 6px;
    border-radius: 3px;
    position: absolute;
    bottom: 0;
}

.k-file-progress-overlay {
    background: #F6FBFF 0% 0% no-repeat padding-box;
    width: 40.834vw;
}

.k-file-progress-animator {
    width: 0vw;
    background: #005981 0% 0% no-repeat padding-box;
}

.green-text {
    color: #008000 !important;
}