<div class="attachment-container">
    <app-warning-modal 
        yesBtnTitle="Yes"
        noBtnTitle="No"
        messageText="Do you really want to delete this file?"
        [modalOpened]="isModalOpen"
        [onYesBtnClicked]="confirmDelete" 
        [onNoBtnClicked]="cancelDelete"
        [onCloseBtnClicked]="cancelDelete"> 
    </app-warning-modal>
    <div [formGroup]="parentForm">
        <kendo-upload
            #appAttachment="kendoUpload"
            [autoUpload]="false"
            [saveUrl]="uploadSaveUrl"
            [removeUrl]="uploadRemoveUrl"
            (select)="selectEventHandler($event)"
            (clear)="clearEventHandler()"
            (remove)="removeEventHandler($event)"
            (success)="successEventHandler($event)"
            (complete)="completeEventHandler()"
            (uploadProgress)="uploadProgressEventHandler($event)"
            formControlName="attachments"
            [withCredentials]="false">
            <ng-template kendoUploadFileTemplate let-files let-state="state">
                <div class="file-wrapper">
                    <div class="file-container">
                        <span class="file-icon" [ngClass]="addExtensionClass(files[0])"></span>
                        <div class="file-heading">
                            <p class="file-name-heading">{{ files[0].name }}</p>
                            <p class="file-size-heading">{{ convertByteToKB(files[0].size) }}</p>
                            <span 
                                class="green-text" 
                                *ngIf="uploadPercentage[files[0].uid] == 100">
                                Upload Successful
                            </span>
                            <span 
                                class="k-file-progress-overlay" 
                                *ngIf="uploadPercentage[files[0].uid] && uploadPercentage[files[0].uid] != 100">
                            </span>
                            <span 
                                class="k-file-progress-animator" 
                                *ngIf="uploadPercentage[files[0].uid] != 100" 
                                [ngStyle]="{'width': (40.834 * uploadPercentage[files[0].uid]) / 100 + 'vw' }">
                            </span>
                        </div>
                    </div>
                    <div class="clear-button-container" *ngIf="uploadPercentage[files[0].uid] != 100">
                        <span class="clear-icon" (click)="remove(appAttachment, files[0].uid, files[0])"></span>
                    </div>
                </div>
            </ng-template>
            <button [hidden]="false" (click)="uploadBtnClick(appAttachment)">U</button>
        </kendo-upload>
    </div>
</div>