.g-editor {
    height: 116px;
    border-radius: 7px;
    border: solid 1px #e6eff2;
    background-color: #f6fbfc;
}

.form-control {
    font-size: 14px !important;
}

::ng-deep .g-editor .k-toolbar {
    background-color: #e6eff5 !important;
}

::ng-deep .g-editor .k-state-active,
::ng-deep .g-editor .k-state-focused,
::ng-deep .g-editor .k-state-focused:active {
    background: #b2ccd9 !important;
    border-color: #b2ccd9 !important;
    box-shadow: none !important;
}

.phase-input,
.task-input {
	border: 1px solid #E6EFF2 !important;
	border-radius: 3px;
}

.phase-input:focus,
.task-input:focus {
    border-color: #E6EFF2 !important;
}

::ng-deep .k-slider .k-slider-track {
    background-color: #E6EFF5 !important;
    border-radius: 6px !important;
    margin-top: -5.5px;
    height: 11px;
}

::ng-deep .k-slider .k-slider-selection {
    background-color: #005981 !important;
    border-radius: 6px 0px 0px 6px;
    margin-top: -5px !important;
    height: inherit;
}

::ng-deep .k-slider .k-draghandle {
    display: none;
}

::ng-deep .k-slider {
    width: 100%;
}

::ng-deep .k-slider-horizontal .k-label {
    left: 45%;
}

::ng-deep .k-slider-horizontal .k-first .k-label {
    left: -4% !important;
}

::ng-deep .k-slider-horizontal .k-last .k-label {
    right: -83% !important;
}

::ng-deep .k-slider .k-button-increase,
::ng-deep .k-slider .k-button-decrease {
    box-shadow: 0 2px 6px 0 rgba(20, 103, 175, 0.18);
    border: solid 0.5px var(--white);
    background: var(--white);
}

::ng-deep .k-slider .k-button-increase .k-icon,
::ng-deep .k-slider .k-button-decrease .k-icon {
    color: #005981 !important;
}