<div class="row g-0 gantt-details-container" [formGroup]="ganttForm">
    <div class="col-md-6 g-0">
        <div class="row g-0 mb-3 mt-3">
            <div class="col-md-12 px-3">
                <label for="phase" class="mb-1 g-phase">Phase Name:</label>
            </div>
            <div class="col-md-12 px-3">
                <input type="text" class="form-control phase-input" name="phase" [attr.disabled]="phaseDisabled ? '' : null" formControlName="phase" />
            </div>
        </div>
        <div class="row g-0 mb-3">
            <div class="col-md-12 px-3">
                <label for="task" class="mb-1 g-task">Task:</label>
            </div>
            <div class="col-md-12 px-3">
                <input type="text" class="form-control task-input" name="task" formControlName="task" />
            </div>
        </div>
        <div class="row g-0 mb-3">
            <div class="col-md-12 px-3">
                <label for="startDate" class="mb-1 p-date">Start Date:</label>
            </div>
            <div class="col-md-12 px-3">
                <kendo-datepicker 
                    formControlName="startDate" 
                    [format]="'dd.MM.yyyy'"
                    [formatPlaceholder]="datePlaceHolder" 
                    name="startDate"
                    class="g-start-date">
                </kendo-datepicker>
            </div>
        </div>
        <div class="row g-0 mb-3">
            <div class="col-md-12 px-3">
                <label for="endDate" class="mb-1 p-date">End Date:</label>
            </div>
            <div class="col-md-12 px-3">
                <kendo-datepicker 
                    formControlName="endDate" 
                    [format]="'dd.MM.yyyy'"
                    [formatPlaceholder]="datePlaceHolder" 
                    name="endDate"
                    class="g-end-date">
                </kendo-datepicker>
            </div>
        </div>
        <div class="row g-0 mb-3">
            <div class="col-md-12 px-3">
                <label for="setPhase" class="mb-1 g-set-phase">Set Phase:</label>
            </div>
            <div class="col-md-12 px-3">
                <kendo-dropdownlist 
                    formControlName="setPhaseNr" 
                    name="setPhase" 
                    id="setPhase" 
                    class="g-set-phase-dropdown"
                    [data]="phaseList" 
                    [textField]="'name'"
                    [valueField]="'name'" 
                    [valuePrimitive]="true"
                    [disabled]="setPhaseDisabled"
                    [kendoDropDownFilter]="filterSettings">
                </kendo-dropdownlist>
            </div>
        </div>
        <div class="row g-0 mb-3">
            <div class="col-md-12 px-3">
                <label for="creator" class="mb-1 g-set-order">Set Order:</label>
            </div>
            <div class="col-md-12 px-3">
                <kendo-dropdownlist 
                    formControlName="setOrderNr" 
                    name="creator" 
                    id="creator" 
                    class="g-set-order-dropdown"
                    [data]="orderList" 
                    [textField]="'name'"
                    [valueField]="'id'" 
                    [defaultItem]="{ 'name' : 'Select Person', 'id' : 0}" 
                    [valuePrimitive]="true"
                    [kendoDropDownFilter]="filterSettings">
                </kendo-dropdownlist>
            </div>
        </div>
    </div>
    <div class="col-md-6 g-0">
        <div class="row g-0 mb-3 mt-3">
            <div class="col-md-12 pr-3">
                <label for="creator" class="mb-1 g-creator">Creator:</label>
            </div>
            <div class="col-md-12 pr-3">
                <kendo-dropdownlist 
                    formControlName="personNr" 
                    name="creator" 
                    id="creator" 
                    class="g-creator-dropdown"
                    [data]="userList" 
                    [textField]="'name'"
                    [valueField]="'id'" 
                    [defaultItem]="{ 'name' : 'Select Person', 'id' : 0}" 
                    [valuePrimitive]="true"
                    [kendoDropDownFilter]="filterSettings">
                </kendo-dropdownlist>
            </div>
        </div>
        <div class="row g-0 mb-3">
            <div class="col-md-12 pr-3">
                <label for="responsible" class="mb-1 g-responsible">Responsible:</label>
            </div>
            <div class="col-md-12 pr-3">
                <kendo-dropdownlist 
                    formControlName="responsibleNr" 
                    name="responsible" 
                    id="responsible" 
                    class="g-responsible-dropdown"
                    [data]="userList" 
                    [textField]="'name'"
                    [valueField]="'id'" 
                    [defaultItem]="{ 'name' : 'Select Person', 'id' : 0}" 
                    [valuePrimitive]="true"
                    [kendoDropDownFilter]="filterSettings">
                </kendo-dropdownlist>
            </div>
        </div>
        <div class="row g-0 mb-3">
            <div class="col-md-12 pr-3">
                <label for="details" class="mb-1 g-details">Details:</label>
            </div>
            <div class="col-md-12 pr-3">
                <kendo-editor 
                    class="g-editor" 
                    [iframe]="false" 
                    name="details" 
                    formControlName="details">
                </kendo-editor>
            </div>
        </div>
        <div class="row g-0 mb-3">
            <div class="col-md-12 pr-3">
                <label for="progress" class="mb-1 p-progress">Progress:</label>
            </div>
            <div class="col-md-12 pr-3">
                <kendo-slider 
                    [min]="0" 
                    [max]="100" 
                    [smallStep]="25"
                    [largeStep]="1" 
                    formControlName="progress" 
                    name="progress" 
                    id="progress">
                </kendo-slider>
            </div>
        </div>
    </div>
</div>