/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar {
	width: 5px !important;
	height: 5px !important;
}

::-webkit-scrollbar-thumb {
	background-color: #e6eff2;
	border-radius: 3px !important;
}

::-webkit-scrollbar-track {
	background-color: #f6fbff;
	border-radius: 3px !important;
}

.k-dialog-titlebar,
.k-window-titlebar {
	background-color: #005981 !important;
}

.c-pointer {
	cursor: pointer;
}

button:focus,
input:focus,
textarea:focus {
	outline: 0 !important;
	box-shadow: none !important;
}

.k-tabstrip .k-tabstrip-items .k-link {
	padding: 17px 12px;
	font-size: 16px;
	font-family: "Avenir Next Cyr";
	color: #005081;
	opacity: 1;
}

.k-tabstrip > .k-tabstrip-items .k-item {
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 4px solid transparent;
}

.k-tabstrip > .k-tabstrip-items .k-item.k-state-active {
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 4px solid #005081 !important;
	font-weight: bold;
	background-color: transparent;
}

.k-tabstrip > .k-tabstrip-items {
	width: 478px;
	border-radius: 7px 7px 0px 0px;
	box-shadow: -1px -3px 5px 0px #00000017;
	background-color: #ffffff;
	border-bottom: 1px solid #f0f2f5 !important;
}

.k-tabstrip > .k-content.k-state-active {
	box-shadow: 0px 0px 15px #00000017;
	border-radius: 0px 7px 7px 7px;
	border: 0;
	padding: 0;
}

.k-tabstrip .k-tabstrip-items .task-action-items > span {
	cursor: default;
	padding: 0;
}

.tv-btn-primary {
	margin: 7px;
	display: inline;
	padding: 10px 30px;
	border: none;
	background-color: #005981;
	border-radius: 3px;
	color: #f6fbfc;
	font-weight: 600;
}
.tv-btn-secondary {
	margin: 7px;
	display: inline;
	padding: 10px 30px;
	border: none;
	background-color: #ed6663;
	border-radius: 3px;
	color: #f6fbfc;
	font-weight: 600;
}
.tv-btn-amber {
	margin: 7px;
	display: inline;
	padding: 10px 30px;
	border: none;
	background-color: #ffa600;
	border-radius: 3px;
	color: #f6fbfc;
	font-weight: 600;
}
.ripple {
	position: relative;
	overflow: hidden;
	transform: translate3d(0, 0, 0);
}
.ripple::after {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
	background-repeat: no-repeat;
	background-position: 50%;
	transform: scale(10, 10);
	opacity: 0;
	transition: transform 0.5s, opacity 1s;
}
.ripple:active::after {
	transform: scale(0, 0);
	opacity: 0.3;
	transition: 0s;
}
