button:focus {
  outline: none;
}

.tv-new-task-btn {
  width: 160px;
  height: 42px;
  border-radius: 7px;
  background-color: var(--tv-base-color);
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: center;
  color: var(--white);
  transition: all 0.3s ease-out;
}

.tv-new-task-btn:hover {
  color: var(--tv-base-color);
  background-color: var(--white);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.09) !important;
}
.tv-new-task-btn:focus {
  box-shadow: none;
}
.tv-grid-container {
  width: 100%;
  height: calc(100vh - 156px);
  margin-top: 12px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.09);
  background-color: var(--white);
  border-radius: 7px;
}

#new-task-window {
  height: calc(100vh - 100px);
}
