<div class="k-overlay" *ngIf="isWindowOpened"></div>
<div class="col-md-12">
    <button class="btn tv-new-task-btn" (click)="addNewTask()">
        + New Task
    </button>
    <button class="btn tv-grid-task-download-btn"></button>
</div>
<div class="col-md-12 tv-grid-container">
    <app-task-grid></app-task-grid>
</div>
<kendo-window 
    id="new-task-window"
    *ngIf="isWindowOpened" 
    (close)="closeWindow()" 
    [minWidth]= "300" 
    [width]="1300"
    [resizeable]="false"
    [draggable]="false"
    [(top)]="windowTop">
    <kendo-window-titlebar>
        <div class="k-window-title">Add New Task</div>
        <span class="k-icon k-i-close" (click)="closeWindow()"></span>
    </kendo-window-titlebar>
    <app-new-task (closeTaskWindow)="closeTaskWindow()"></app-new-task>
</kendo-window>
