.task-status{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}
.task-status-label{
    padding-left: 10px;
    font-size: 16px;
    color: #005981;
    opacity: 1.5;
    margin-bottom: 5px;
    display: block;
}
.task-status-button{
    margin: 7px;
    display: inline;
    padding: 1em;
    border: none;
    background-color: #005981;
    border-radius: 3px;
    color: whitesmoke;
    font-weight: 600;
}
.task-status-note{
    width: 100%;
    border: 1px solid #E6EFF2;
    border-radius: 5px;
    resize: unset;
}

.status-selected{
    background-color: #ffa600;
}
.status-action{
    display: flex;
    justify-content: space-between;
    align-items: center;
}