<div class="form-group" style="text-align: start;">
    <label [for]="task_time_status" class="task-status-label">Status: </label>
    <div #task_time_status>
        <ng-container *ngFor="let status of taskStatusList">
            <button *ngIf="status.type === '2'" [ngClass]="{ 'status-selected': status.id == statusId }" class="task-status-button ripple" (click)="selectStatusHandler(status.id)">{{status.status}}</button>
        </ng-container>
        
    </div>
    <label [for]="task_time_note" class="task-status-label">Note: </label>
    <div style="padding: 10px;">
        <textarea class="task-status-note" #task_time_note rows="3" [(ngModel)]="note"></textarea>
    </div>  
</div>
<div class="status-action">
    <button class="tv-btn-secondary ripple" (click)="closeTaskStatus()">Close</button>
    <button class="tv-btn-primary ripple" (click)="statusSubmitHandler()">Submit</button>
</div>